<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::#loginContent}, ~{::#pageCss}, ~{::#pageScripts})}">
<head>
  <th:block id="pageCss"></th:block>
</head>
<body>
    <section id="loginContent">
        <main class="bg-white flex flex-col items-center justify-center min-h-[100dvh] py-20 px-4">
            <div class="bg-white flex flex-col items-center justify-center w-full max-w-[578px] px-6 sm:px-24 py-16 rounded-4xl">
                <form class="bg-white flex flex-col items-start w-full" action="/login" method="post">
                    <!-- 페이지 헤더 -->
                    <div class="flex flex-col gap-8 items-start w-full">
                        <h1 class="text-xl/7 font-bold text-zinc-900">로그인</h1>
                    </div>
                </form>
            </div>
        </main>
    </section>
    <th:block id="pageScripts"></th:block>
</body>
</html>