/* 프로젝트 진행 시 필요x */

.common_top{background:var(--mono_bk);clear:both;}
.common_top{width:100%;margin:0 auto;padding:40px 360px}
.common_top p{color:var(--mono_wh);font-size:36px;clear:both;font-weight:600;text-transform: uppercase}
.common_top p span {font-size:15px;display:block;margin-top:10px;line-height:140%;font-weight:400}
.common_top img {width:155px;height:33px;float:right;}
.guide_box {width:1200px;margin:0 auto;padding:60px 0;height:auto;overflow:hidden;}
.guide_box section {margin-bottom: 40px;}


/*typo*/
/*.typography {overflow:hidden;}*/
.typography li{float:left;width:calc(100% / 4);}
.typography li div {height:110px;}
.typography li div > p:first-child{color:var(--blue_500)}
.typo_text01 {font-size:16px;font-weight:500;margin:5px 0 0 0}
.typo_text02 {font-size:14px;font-weight:500;margin:10px 0 20px 0;display:block;}

/*color*/
.color_tit {font-size:32px;font-weight:700;color:#121212;margin-bottom:24px;}
.color_txt {font-size:18px;font-weight:400;color:#666;line-height:140%}
.color_tit02 {font-size:28px;font-weight:700;color:#121212;margin-bottom:24px; display:flex;align-items: center;}
.color_txt02 {font-size:15px;font-weight:400;display:inline-block;border-radius:25px;background:#121212;padding:5px 10px;color:var(--mono_wh);margin-left:10px;}
.pri_section .color_vwBox {padding:23px 40px;border-radius:16px;margin-bottom:32px;}
.pri_section .color_vwBox .mono_wh{font-size:24px;font-weight:700;}
.pri_section .color_vwBox .mono_wh span{display:block;font-size:16px;font-weight:400;margin-top:8px;}
.color_box {display:flex;align-items: center;height:auto;overflow:hidden;}
.color_box li {width:calc(100% - 12px);margin-right:24px;}
.color_box li:last-child{margin-right:0}
.color_box li div{height:64px;margin-bottom:8px;border-radius:8px;border:1px solid var(--gray_30)}
.color_box li div p{color:var(--mono_wh);text-align:center;line-height:64px;font-size:18px;font-weight:600}
.color_box li > p {font-size:16px;}
.color_box li:nth-child(1) div p, .color_box li:nth-child(2) div p, .color_box li:nth-child(3) div p, .color_box li:nth-child(4) div p, .color_box li:nth-child(5) div p{color:var(--mono_bk)}
.color_list_text span{display:inline-block;width:24px;height:24px;border-radius:8px;margin-right:8px;}
.color_list_text {padding:32px 0}
.color_list_text li{align-items: center;padding:16px 0;border-bottom:1px solid var(--gray_100)}
.color_list_text p {font-size:16px;font-weight:400;display: flex;align-items: center;}
.color_list_text p:first-child{width:168px}
.color_list_text li:last-child{border-bottom:0}
.rainbowBtn {position:fixed;top:50%;right:16px;transform:translateY(-50%);cursor:pointer;animation: text_slide linear .5s forwards;}
.rainbowBtn p{font-size:14px;padding:16px;border-radius:30px;background:var(--cool_gray_500);color:var(--mono_wh);margin:10px 0;text-align:center;text-transform: uppercase}
.rainbowBtn p:hover {background:var(--cool_gray_700)}
.color_w10_box li{width:calc(100% - 6px);margin-right:12px}
.color_w10_box.color_box li p {color:var(--mono_bk)}
.color_w10_box li span {color:#a3a3a3;font-size:14px;font-weight:400}


@keyframes text_slide {
    0%{right:-170px}
    100%{right:16px;}
}

.rainbowTable table {width:100%;}
.rainbowTable th{background:var(--gray_30);padding:16px 0;font-weight:400;text-align:center;border-bottom:1px solid var(--gray_100)}
.rainbowTable td{padding:16px 0;text-align:center;}
.policy_text li p {color:#A3A3A3;font-weight:400;font-size:14px;}
.policy_text li p span {font-weight:400;display:inline-block;margin-left:8px}
.color_tit03 {font-size:24px;font-weight:600;color:var(--gray_600);margin-bottom:24px;}

/*shadow*/
.shadowBox {padding:0 20px;}
.shadowBox div.flex {margin-bottom:70px;align-items: center;}
.shadowBox div.flex div{width:142px;height:142px;border-radius:14px;margin-right:40px;}
.shadowBox div.flex p {font-size:18px;font-weight:400;color:var(--mono_bk)}
.shadowBox div.flex p span {display:block;font-size:18px;font-weight:400;margin-top:10px;color:var(--gray_300)}

/*blur*/
.blur_ex_img{margin:0 auto;width:80%;border-radius:40px;background:url('/design_system/assets/images/map_img.png') no-repeat center center / cover;padding:80px}
.blur_ex_img > div {padding:32px;text-align:center;margin-bottom:40px;border-radius:8px;background:rgba(255, 255, 255, 0.6)}
.blur_tit01{font-size:24px;font-weight:500;margin-bottom:10px;color:var(--blue_500);}
.blur_tit02{font-size:18px;font-weight:400;color:var(--mono_bk);margin-bottom:4px;}
.blur_tit03{font-size:16px;font-weight:400;color:var(--gray_300)}

/*radius*/
.radius_box > div{display:flex;justify-content: start;align-items: center;padding:33px 0;border-bottom:1px solid var(--gray_100)}
.radius_box > div > div:first-child{width:48px;height:48px;margin-right:24px;}
.radius_box > div > div:last-child{margin-left:auto;}
.radius_box > div > p {color:var(--blue_500);font-weight:500}
.radius_box span{display:inline-block;margin-left:20px;}

/*layout*/
.layOut_slide {background:var(--pri_400);width:calc(75%);height:600px;text-align:center;position:relative;overflow:hidden}
.layOut_slide img{height:550px;width:auto;margin:20px}
.layOut_slide .swiper-pagination {width:auto;min-width:120px;right:auto !important;left:10px !important;}
.layOut_slide .swiper-pagination-bullet {margin:var(--swiper-pagination-bullet-vertical-gap,20px) 0 !important;background:none;}
.layOut_slide .swiper-pagination-bullet span {font-size:13px;color:var(--mono_wh);white-space: nowrap;}
.layout_code {width:calc(25% - 10px);margin-left:10px;}
.layout_code button {display:block;width:100%;padding:8px 0;text-align:center;background:var(--blue_300);border:0;color:var(--mono_wh);margin-bottom:10px;}
.layout_code textarea{border:1px solid var(--gray_50);height:calc(100% - 45px);width:100%}

/*button*/
.buttonOv_list{border-top:1px solid var(--gray_100);border-left:1px solid var(--gray_100);height:auto;overflow:hidden;}
.buttonOv_list li{border-right:1px solid var(--gray_100);border-bottom:1px solid var(--gray_100);padding:20px;float:left;width:calc(100% / 4);cursor:pointer;}
.buttonOv_list li:nth-child(4n+1){clear:both;}
.buttonOv_list li .flex {justify-content: space-between;margin:20px 0;height:45px;align-items: center;}
.buttonOv_list li .flex p:first-child{font-size:18px;font-weight:500;}
.buttonOv_list li .flex p:last-child{font-size:13px;font-weight:500;color:var(--pri_500);display:flex;align-items: center;}
.buttonOv_list li .flex p:last-child img {margin-left:-2px;}
.buttonOv_list li > div:first-child{height:260px;}
.buttonOv_list li > p{height:70px;line-height:140%;font-size:14px;font-weight:400;color:var(--gray_600)}

.section_tit {font-size:32px;font-weight:700;color:var(--gray_900);margin-bottom:16px;}
.section_txt {font-size:18px;font-weight:400;color:#666;margin-bottom:8px;}
.section_txt02 {font-size:16px;font-weight:500;color:var(--blue_300)}
.table_common {}
.table_common th{padding:8px 0;border-bottom:1px solid var(--gray_50);font-size:13px;font-weight:500}
.table_common td{padding:16px 0;text-align:center;}