*{margin:0;padding:0;list-style:none;box-sizing: border-box;}
.wrap {margin:0 auto;overflow: hidden;font-family: 'SCoreDream';}
button, p, span, tr, td {font-family: 'SCoreDream';}
button {cursor: pointer;}

.record_box {margin:0 auto;width:40%}
.wrap h1{text-transform: uppercase;font-weight:600;text-align:center;margin:2rem 0;font-size:2rem}
.typing_box {width:50%;margin:0 auto;}
.typing_box input {height:30px;border:0;border-bottom:1px solid #efefef;outline:none;font-family: 'SCoreDream';}
.typing_box input::placeholder{font-size:13px;color:#ddd;}
.typing_box input:nth-child(1){width:30%;margin-right:.5rem}
.typing_box input:nth-child(2){width:50%}
.typing_box button{width:10%;float:right;height:30px;border:2px solid #a3b1ff;background:transparent;border-radius: 10px;font-size:20px;color:#a3b1ff;line-height:26px}
table{border-collapse:collapse; border-spacing:0;width:100%;margin:2rem 0;clear: both;}
table tr {border-top:1px solid #efefef;border-bottom:1px solid #efefef;width:100%;width:100%;}
table td {padding:.8rem 0;}
table td:nth-child(1){width:20%;text-align: center;}
table td:nth-child(2){width:auto;}
table td:nth-child(3){width:20%;text-align: center;}
table .memo {text-align:center;}
.plus_memo button {height:30px;border:2px solid #a3b1ff;background:transparent;border-radius: 10px;font-size:.8rem;color:#a3b1ff;padding:0 5px;font-weight:500;}
.plus_memo td:nth-child(2) {text-indent:20px;}