<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{fragments/head :: head}" />    
</head>
<body>
    <div class="mapWrap">
        <div id="map"></div>
        <div class="mapLevelControl">
            <button onclick="zoomIn()">-</button>
            <button onclick="zoomOut()">+</button>
        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=342aad21a4409cd2a246954bff1fc9b3&autoload=false"></script>
    <script src="/js/map.js"></script>
    <script>
        navigator.geolocation.getCurrentPosition(
            (position) => {
                const lat = position.coords.latitude;
                const lng = position.coords.longitude;
                console.log(lat, lng);
            },
            (error) => {
                console.error("위치 가져오기 실패:", error);
            }
        );
    </script>
</body>
</html>