.callOut_default {background:var(--mono_bg);border-radius:4px;padding:20px 18px;width:335px;}
.callOut_suggest {background:var(--mono_bg);border-radius:4px;padding:20px 18px;width:335px;}

.callOut_warning{background:var(--mono_bg);border-radius:4px;padding:20px 18px;width:335px;}
.callOut_danger{background:var(--mono_bg);border-radius:4px;padding:20px 18px;width:335px;}

/*공통*/
.callOut_title img{width:14px;height:14px;margin-right:6px;}
.callOut_title{margin-bottom:10px;display:flex;align-items: center;}
.callOut_inner p {color:var(--mono_g7)}
.callOut_btn {margin-top:22px;text-align:right;}
.callOut_btn button {padding:8px 12px;color:var(--mono_b);border-radius:4px;border:1px solid var(--mono_g3);background:#fff;}

/*warning / danger만*/
.callOut_warning .callOut_title p{color:var(--error_3)}
.callOut_danger .callOut_title p{color:var(--error_3)}


