
/*노트북*/
@media (min-width: 1500px) and (max-width:1910px){
    .ct_name_box{padding-top:18rem}
    .dot.aboutMe{top:13rem;left:20rem;}
    .dot.game {bottom:10rem;}
    .tab_txt li{font-size:2.5rem;}
    .tab_txt ul{margin-top:13rem;}
    .logo_head{margin-top:15vh}
    .close_btn.on {top:3rem;right:11rem;}
    .game_playBox {height:70vh}
    .game_playBox_inner iframe {height:70vh}
    .mint_border .mint_txt {padding:2vh;}
    .mint_border .mint_inner_box{margin-bottom:2rem;}
    .game_box {bottom:-78vh;}
    .round_3d {top:9rem;}

}


/*tablet 768 ~ 1024*/
@media (min-device-width: 768px) and (max-device-width:1366px){
    .logo_head{width:400px;height:400px;}
    .head_menu li {font-size:1.2rem;}
    .ct_name_box {padding-top:18rem;}
    .ct_name {font-size:3rem;}
    .dot.aboutMe {left:8rem;}
    .dot.game {bottom:12rem;right:13rem;}
    .notion {bottom:1rem;}
    .tab_txt li {font-size:2rem;padding-top:20px;}
    .tab_txt ul {margin-top:15rem;}
    .mint_border {width:82%;height:75vh;}
    .mint_border .mint_txt {padding:3vh;}
    .close_btn.on {top:3.5rem;right:7rem;}
    .mint_inner_txt p span {font-size:1.3rem;line-height:28px;}
    .mint_border .mint_img {margin-right:1rem;}
    .mint_border .mint_img {width:20%;}
    .mint_inner_txt {width:76%;}
    .mint_border .mint_inner_box {margin-bottom:.5rem;}
    .game_box.sub_box.on {bottom:8vh;}
    .game_playBox_list li > p {font-size:1.2rem;line-height:45px;padding:0 1.1rem;}
    .game_playBox {height:62vh}
    .game_playBox_inner iframe {height:62vh}
    .round_3d {top:9rem;}
    .round_3d img {width:40%;}
    .game_box {bottom:-73vh;}
    .bak_btn {right:12vw;}
    .aboutMe_box.on svg text {animation:stroke 1s linear forwards;}
    
    
}
@media all and (min-device-width: 768px) and (max-device-width:1366px) and (orientation : portrait){
    .mint_inner_txt p span {font-size:1.2rem !important;line-height:33px !important;}
    .mint_border{width:85% !important;}
    .mint_border .mint_inner_box {display:block !important;}
    .mint_border .mint_img {width:100% !important;}
    .mint_border .mint_img img {width:20% !important;}
    .mint_inner_txt {width:100% !important;}
    
    .tab_txt ul{margin-top:23rem !important;}
    .ct_name_box {padding-top:26rem !important;}
    .round_3d {top:16rem !important;}
    .round_3d img {width:55% !important;}
    .dot.aboutMe{left:5rem !important;top:19rem !important;}
    .dot.game {bottom:17rem !important;right:8rem !important;}
    .dot p {font-size:1.5rem !important;top:-4px !important;}
    .game_box.sub_box.on {bottom:7vh !important}


}


@media all and (max-width: 767px){
    .head_menu {display:none;}
    .logo_head {width:200px;height:200px;margin-top:30vh;}
    .bak_btn {right:20vw;top:1.5rem;}
    .ct_name_box {padding-top:18rem;}
    .ct_name {font-size:1.3rem;}
    .blink {font-size:1.3rem;}
    .round_3d img {width:55%;}
    .round_3d{top:11rem;}
    .dot.aboutMe {top:13rem;left:4rem;}
    .dot p {font-size:.9rem;left:23px;}
    .dot > div {width:12px;height:12px;}
    .dot > div::after {width:25px;height:25px;}
    .dot.game {bottom:15rem;right:5rem;}
    .sub_title {font-size:.9rem;right:-4rem;}
    .loding.on .head_txt {font-size:.7rem;margin-top:6px;}
    .loding.on .logo_head {width:40px;height:40px;}
    .loding.on {margin-top:10px}
    header {height:4rem;}
    .game_box .sub_title {top:-1.5rem;}
    .close_btn.on {top:3rem;right:2rem;}
    .mint_border .mint_txt{font-size:1.2rem;padding:2vh}
    .mint_border .mint_inner_box {display:block;}
    .mint_border .mint_img {width:100%;margin-right:0;}
    .mint_border .mint_img img {width:20vw}
    .mint_inner_txt {width:100%;margin-top:20px;}
    .mint_inner_txt br{display:none;}
    .mint_inner_txt p span {font-size:.8rem;line-height:26px;display:block;margin-bottom:10px}
    .mint_border {width:84%;}
    .mint_inner_txt p {font-size:.7rem;line-height:26px}
    .ul_aboutMe li{padding:5px;margin-right:5px;font-size:.6rem;}
    .ul_aboutMe {margin-top:2vh;}
    .hide_box svg {display:none;}
    .game_list {display:block;}
    .game_playBox_list {width:100%;padding-right:0;display:flex}
    .game_playBox_list li {margin:0 4vw}
    .game_playBox_list li > p {font-size:.8rem;line-height:35px;border-top-left-radius: 50px;border-bottom-left-radius: 50px;padding:0 .5rem;}
    .game_playBox_inner iframe{width:100% !important;height:62vh !important;}
    .game_playBox{width:95%;margin:0 auto;margin-top:1rem;height:62vh}
    .tab div.tab_line {transform:rotate(0);top:1rem;right:1rem;}
    .tab {top:5px;right:5px;width:50px;height:50px;border-radius: 50%;z-index:999999999999;}
    .tab.on{width:100%;height:100%;border-radius: 0;top:0;right:0;border-top-right-radius:0;}
    .tab div.tab_line div {width:18px;}
    .tab.on div.tab_line {padding-top:5px;padding-right:5px;}
    @keyframes wh_50_100{
        0%{width:18%;height:10%;border-radius: 50%;}
        100%{width:100%;height:100%;border-radius:0}
    }
    .tab_txt li {font-size:2rem;padding-top:20px;}
    .tab_txt li:hover:after {bottom:30%;}
    .tab_txt {margin-left:0;}
    .tab_txt ul{margin-top:14rem;}
    .game_box {bottom:-79vh;}
    .notion {bottom:1rem;right:1rem;width:60px;height:60px;}
    .notion_txt{height:60px;width:60px;padding-top:10px;font-size:.6rem;}
    .wrap.on circle{r:30;cx:30;cy:30;}
    
    
}


