@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*
포인트 색상 : rgba(50, 255, 245, 0.7) - 민트
포인트 폰트 색상 : #00a39b 
*/

*{margin:0;padding:0;list-style: none;box-sizing: border-box;}

.wrap {background:#fff;color:#141414;position: relative;width:100%;height:100vh;overflow: hidden;}
header {width:100%;height:5rem;position: absolute;top:0;left:0;z-index: 999999999;}


.bak_btn {position:absolute;top:2rem;right:5vw;border:2px solid #ddd;display:inline-block;height:10px;width:40px;border-radius: 10px;cursor:pointer;z-index:999999999999}
.round_btn {width:20px;height:20px;border-radius:50%;background:#141414;display:inline-block;position:absolute;top:-7px;left:0px;transition:.5s;transform:translateX(0)}
.logo_head {width:500px;height:500px;border:5px solid #141414;overflow: hidden;border-radius: 50%;background-color: #141414;margin:0 auto;margin-top:25vh;z-index:999999999} 
.logo_head img {width:100%;}
.loding {position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(221,221,221,.8);z-index:99999999999}
.head_txt {opacity: 0;}

.loding.on {width:auto;height:50px;background:transparent;margin-top:1rem;margin-left:2vw;display:flex;cursor: pointer;}
.loding.on .logo_head{width:50px;height:50px;border:1px solid #141414;margin-top:0;}
.loding.on .head_txt {opacity:1;font-size:.8rem;font-family: 'S-CoreDream-3Light';display:inline-block;margin-left:10px;margin-top:8px;}
.bak_btn.on .round_btn{background:#fff;transform:translateX(100%);transition:.5s}
.head_menu {width:100%;text-align:center;margin-top:1.5rem;}
.head_menu > div{display:inline-block;}
.head_menu ul {display:flex;cursor: pointer;}
.head_menu li {padding:0 20px;font-size:16px;font-family: 'S-CoreDream-3Light';text-transform: uppercase;}
.head_menu li:hover {position:relative;}
.head_menu li:hover::after {content:'';display:inline-block;width:100%;height:12px;position: absolute;bottom:0;left:0;background:rgba(50, 255, 245, 0.7);z-index:-1;animation:width_100 1s forwards}



@keyframes width_100{
    0%{width:0;}
    100%{width:100%}
}
.tab {position:fixed;top:10px;right:10px;width:50px;height:50px;background:rgba(0, 163, 155,.5);z-index:9999999999999;border-radius:50%}
.tab div.tab_line {position:absolute;top:1rem;right:1rem;cursor:pointer;z-index:9999999999}
.tab div.tab_line div{display:block;width:20px;height:3px;border-radius:3px;background:#fff;margin-top:.3rem;transition:1s}
.tab div.tab_line div:nth-child(1){margin-top:0}
.tab_line div:nth-child(2){display:block}
.tab.on {width:100%;height:100%;animation:wh_50_100 1s forwards;border-radius: 0;top:0;right:0}
.tab.remove {animation:wh_50_100 1s forwards reverse}
.tab.on div.tab_line {padding-top:10px;padding-right:10px;}
.tab.on div.tab_line div:nth-child(1){transform:rotate(45deg) translate(5px, 5px);transition:1s}
.tab.on div.tab_line div:nth-child(2){display:none;transition:1s}
.tab.on div.tab_line div:nth-child(3){transform:rotate(-45deg) translate(0px, 0px);transition:1s}

@keyframes wh_50_100{
    0%{width:50px;height:50px;border-radius:50%}
    100%{width:40%;height:100%;border-radius:0}
}
.tab.on .tab_txt{opacity: 1;}
.tab_txt li{font-size:3.5rem;font-family: 'KIMM_Bold';color:#fff;text-align:center;padding-top:30px;cursor: pointer;width:80%;margin:0 auto;position:relative;overflow: hidden;}
.tab_txt {opacity: 0;margin-left:2rem}
.tab_txt ul {margin-top:17rem;}
.tab_txt li:hover:after {content:'';display:inline-block;width:100%;height:3px;border-radius:50%;background:#fff;position:absolute;bottom:35%;left:0;animation:l_r_wit .5s forwards}

.ct_name_box {text-align:center;padding-top:25rem;position:relative;z-index:999}
.ct_name {font-size:3.5rem;font-family: 'KIMM_Bold';text-align:center;}
.blink{animation: blink .8s infinite;font-family: 'KIMM_Bold';font-size:3.5rem;display:inline-block}

.round_3d {overflow: hidden;width:100%;position:absolute;top:13rem;left:0;text-align:center;z-index:1;}
.round_3d img {width:25%;opacity:.5;transform: translateX(calc(var(--mouse-x) * 0.01px)) translateY(calc(var(--mouse-y) * 0.01px));margin:2rem 5rem;}

@keyframes blink {
    to {opacity: 0;}
  }

.notion{position:fixed;bottom:3rem;right:4rem;border-radius:50%;cursor:pointer;border:1px solid rgba(221,221,221,.6);width:80px;height:80px;z-index:99999999999}
#circle {position:absolute;top:0;left:0;stroke-dasharray:400;stroke-dashoffset:400;stroke-linecap:round;-webkit-transition:all 2s ease-out;-moz-transition:all 2s ease-out;-ms-transition:all 2s ease-out;-o-transition:all 2s ease-out;transition:all 2s ease-out;}
.notion:hover #circle{stroke-dashoffset:0;stroke-dasharray:400;stroke-width:0.7;}
.notion_txt {font-family: 'S-CoreDream-3Light';font-size:.8rem;text-align: center;display:inline-block;width:80px;height:80px;text-transform: uppercase;padding-top:12px}
.notion:hover .notion_txt {color:#00a39b}
.mouse_pointer {display:inline-block;width:40px;height:40px;border:1px solid rgba(0, 163, 155,.5) ;border-radius:50%;position:absolute;top:0;left:0;transform: translate(-25%, -25%);background:rgba(50, 255, 245, 0.2);z-index:9999999}
.dot {position:absolute;z-index:9999999;cursor:pointer;width:10%}
.dot > div{width:15px;height:15px;background:#00a39b;border-radius: 50%;position:relative;transition:1s}
.dot > div::after{content:'';display:inline-block;width:30px;height:30px;border:1px solid #00a39b;position:absolute;top:0;left:0;border-radius: 50%;animation:op_wi 2s infinite;}
.dot.hover > div:before{content:'';display:inline-block;width:13rem;height:13rem;background:url('../../portfolio/images/me2.gif') no-repeat;background-position:center;background-size:100% 100%;border-radius: 50%;animation:opacity_0_1 1s forwards;border:4px solid rgba(50, 255, 245, 1);}
.dot.hover02 > div:before{content:'';display:inline-block;width:13rem;height:13rem;background:url('../../portfolio/images/me2.gif') no-repeat;background-position:center;background-size:100% 100%;border-radius: 50%;animation:opacity_1_0 1s forwards;border:4px solid rgba(50, 255, 245, 1);}


.dot p {font-size:1.2rem;font-family: 'KIMM_Bold';position:absolute;top:-2px;left:30px;white-space: nowrap;color:#00a39b;z-index:-1}

.dot.aboutMe {top:15rem;left:30rem}
.dot.vue {top:23rem;right:32rem}
.dot.game {bottom:17rem;right:22rem}

@keyframes opacity_0_1 {
    0% {opacity: 0;transform:scale(0);transform:translate(0,0);width:30px;height:30px;}
    100% {opacity:1;transform:scale(1);transform:translate(-100px,-100px);width:13rem;height:13rem;}
  }

@keyframes opacity_1_0 {
0% {opacity:1;transform:scale(1);transform:translate(-100px,-100px);width:13rem;height:13rem;}
100% {opacity: 0;transform:scale(0);transform:translate(0,0);width:30px;height:30px;}
}

@keyframes op_wi{
    0%{opacity:0;transform:scale(0) translate(0px,0px);width:15px;height:15px;}
    50%{opacity:1;transform:scale(1) translate(-7px,-7px)}
    100%{opacity:0;transform:scale(1) translate(-9px,-9px)}
}


/*sub박스*/
.sub_box {position:fixed;width:100%;transition:1s;z-index:9999999}
.mint_border {background:#fff;border:1px solid rgba(239, 239, 239,.3);width:80%;height:80vh;position:absolute;right:0;left:auto;top:0;border-radius:15px;}
.hide_box {transition:1s}

.sub_box.on {top:12vh;left:0;bottom:auto;right:auto;display:inline-block;text-align:center;transition:1s}
.sub_box.on .mint_border {margin:0 auto;position:unset;border:1px solid rgba(0, 163, 155,.5)}
.sub_box.on .hide_box {display:block;transition:1s;position:relative;}
.aboutMe_box{top:12vh;left:-98%}
.vue_box.sub_box.on{right:0;left:auto;}
.vue_box{top:12vh;right:-78%}
.game_box.sub_box.on{bottom:8vh;top:auto;z-index:9999999}
.game_box{top:auto;bottom:-76vh;left:0}
.game_box .mint_border {left:0;right:auto;margin:0 auto;position:unset}

.aboutMe_box.on .mint_img img{opacity:0;animation:b_t_hig 1s forwards;animation-delay: 1s;}
.aboutMe_box.on .mint_inner_txt p{opacity:0;animation:l_r_wit 2s forwards;animation-delay: 1s;}
.aboutMe_box.on .ul_aboutMe {opacity:0;animation:opacity0_1 1s forwards;animation-delay: 2s;}

@keyframes b_t_hig {
    0%{transform: translateY(100%);opacity:0}
    100%{transform: translateY(0);opacity:1}
}

@keyframes l_r_wit {
    0%{transform: translateX(-100%);opacity:0}
    100%{transform: translateX(0);opacity:1}
}


.mint_border .mint_txt {font-family: 'KIMM_Bold';color:#00a39b;font-size:2rem;padding:5vh;text-align: center;}
.mint_border .mint_inner_box {display:flex;padding:1vw 2vw;}
.mint_border .mint_img {width:25%;background:transparent;overflow: hidden;border-radius: 15px;margin-right:5rem}
.mint_border .mint_img img {width:100%}
.mint_inner_txt {width:70%;overflow:hidden}
.mint_inner_txt p{font-family: 'S-CoreDream-3Light';font-size:1rem;text-align:left;line-height:28px;position:relative;z-index:9}
.mint_inner_txt p span {font-family: 'KIMM_Bold';font-size:1.5rem;line-height:36px}
.mint_inner_txt p span i {font-style:normal;position:relative;display:inline-block;}
.mint_inner_txt p span i::after{content:'';display:inline-block;width:100%;height:18px;background:rgba(50, 255, 245, 0.3);position:absolute;bottom:4px;left:0;z-index: -1;}
.sub_title {font-family: 'KIMM_Bold';font-size:1.2em;position:absolute;top:4rem;right:-5rem;transform:rotate(90deg);color:#ddd;opacity:.2}
.vue_box .sub_title {left:-3.5rem;right:auto;transform:rotate(-90deg);top:2.5rem}
.game_box .sub_title{left:auto;top:-2rem;right:auto;transform:rotate(0)}
.sub_box.on .sub_title{color:#00a39b}
.ul_aboutMe {margin-top:4vh}
.ul_aboutMe ul {display:flex;}
.ul_aboutMe li {padding:5px 20px;border:1px solid rgba(0, 163, 155,.5);margin-right:20px;border-radius: 8px;font-family: 'S-CoreDream-3Light';font-size:.8rem;color:#00a39b}

.close_btn.on {width:30px;height:30px;position:absolute;top:4rem;right:13rem;z-index:9999999999;display:block;animation:opacity0_1 1s forwards;animation-delay: 1s;opacity:0;cursor:pointer;}
.close_btn.on::after{content:'';display:inline-block;width:2px;height:30px;transform:rotate(45deg) translate(10px, -10px);position:absolute;top:0;left:0;background:#00a39b;}
.close_btn.on::before{content:'';display:inline-block;width:2px;height:30px;transform:rotate(-45deg) translate(10px, 10px);position:absolute;top:0;left:0;background:rgb(0, 163, 155);}
@keyframes opacity0_1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.close_btn{display:none;}

.aboutMe_box.on svg text {fill:transparent;stroke: rgb(0, 163, 155,.4);stroke-width: 1px;stroke-dasharray: 326px;animation:stroke 5s linear forwards;animation-delay:2s;font-size: 2em;font-family: 'KIMM_Bold';text-transform:capitalize;opacity: 0;}
@keyframes stroke {
    0%{stroke-dashoffset: 326px;opacity: 0.5;}
    100%{stroke-dashoffset: 0;opacity: 1;}
}

.game_list {display:flex;}
.game_playBox_list {width:25%;padding-right:2rem;position:relative;overflow: hidden;cursor: pointer}
.game_playBox_list li {margin-bottom:20px;position:relative;overflow: hidden;clear:both;cursor: pointer;}
.game_playBox_list li > p {display:inline-block;font-size:1.7rem;font-family: 'KIMM_Bold';text-align:left;padding:0 2rem;line-height:60px;color:rgba(221,221,221,.4);border:1px solid rgba(0, 163, 155,.5);border-radius: 50px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-left:0;float:left;}

.gamePlay_inner {text-align:left;padding:2rem;color:#fff;position:relative;z-index:9}
.gamePlay_inner h2{font-size:1.5rem}
.gamePlay_inner p {font-size:1rem;font-family: 'S-CoreDream-3Light';}
.game_playBox {width:70%;border:1px solid #ddd;border-radius:10px;height:600px;overflow: hidden;}
.game_playBox ul {border-radius:10px;overflow: hidden;}
.game_playBox ul li {height:100%;display: none;background:#fff;}
.game_playBox_list li.on > p{color:#00a39b;border:2px solid #00a39b;border-left:0}
.game_box.sub_box.on .game_playBox_list li{animation: width_0_100 1s forwards;}
.game_playBox ul li.on {display:block;}
.game_box.sub_box.on .game_playBox{animation:opacity0_1 1s forwards;animation-delay: 1s;opacity: 0;}
@keyframes width_0_100{
    0%{opacity: 0;transform:translateX(-100%)}
    100%{opacity: 1;transform:translateX(0)}
}

.vue_list {width:95%;margin:0 auto;}
.vue_list li {float:left;display:inline-block;width:calc(100%/3)}
.vue_list li:nth-child(3n+1){clear:both;}

/*블랙배경*/

.wrap.on circle {stroke: #fff;}
.wrap.on .mint_border {background:#141414}
.wrap.on .notion:hover .notion_txt {color:#fff}