@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{margin:0;padding:0;list-style: none;box-sizing: border-box;}

.wrap {background:#fff;color:#141414;position: relative;width:100%;height:100vh;overflow: hidden;}
header {width:100%;height:5rem;position: absolute;top:0;left:0;z-index: 999999;}


.bak_btn {position:absolute;top:2rem;right:5vw;border:2px solid #ddd;display:inline-block;height:10px;width:40px;border-radius: 10px;cursor:pointer;z-index:999999999}
.round_btn {width:20px;height:20px;border-radius:50%;background:#141414;display:inline-block;position:absolute;top:-7px;left:0px;transition:.5s;transform:translateX(0)}
.logo_head {width:500px;height:500px;border:5px solid #141414;overflow: hidden;border-radius: 50%;background-color: #141414;margin:0 auto;margin-top:25vh;z-index:999999999} 
.logo_head img {width:100%;}
.loding {position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(221,221,221,.8);z-index:999999999}
.head_txt {opacity: 0;}

.loding.on {width:auto;height:50px;background:transparent;margin-top:1rem;margin-left:2vw;display:flex;cursor: pointer;}
.loding.on .logo_head{width:50px;height:50px;border:1px solid #141414;margin-top:0;}
.loding.on .head_txt {opacity:1;font-size:.8rem;font-family: 'S-CoreDream-3Light';display:inline-block;margin-left:10px;margin-top:8px;}
.bak_btn.on .round_btn{background:#fff;transform:translateX(100%);transition:.5s}
.head_menu {width:100%;text-align:center;margin-top:1.5rem;}
.head_menu > div{display:inline-block;}
.head_menu ul {display:flex;cursor: pointer;}
.head_menu li {padding:0 20px;font-size:16px;font-family: 'S-CoreDream-3Light';text-transform: uppercase;}
.tab {position:absolute;top:1rem;right:2vw;}
.tab div{display:block;width:25px;height:3px;border-radius:3px;background:#141414;margin-top:.5rem}
.tab div:nth-child(2){width:15px;transform:translateX(60%);}
.ct_name_box {text-align:center;padding-top:25rem}
.ct_name {font-size:3.5rem;font-family: 'KIMM_Bold';text-align:center;}
.blink{animation: blink .8s infinite;font-family: 'KIMM_Bold';font-size:3.5rem;display:inline-block}

@keyframes blink {
    to {opacity: 0;}
  }

.notion{position:fixed;bottom:3rem;right:2rem;border-radius:50%;cursor:pointer;border:1px solid rgba(221,221,221,.6);width:80px;height:80px;}
#circle {position:absolute;top:0;left:0;stroke-dasharray:400;stroke-dashoffset:400;stroke-linecap:round;-webkit-transition:all 2s ease-out;-moz-transition:all 2s ease-out;-ms-transition:all 2s ease-out;-o-transition:all 2s ease-out;transition:all 2s ease-out;}
.notion:hover #circle{stroke-dashoffset:0;stroke-dasharray:400;stroke-width:0.7;}
.notion_txt {font-family: 'S-CoreDream-3Light';font-size:.8rem;text-align: center;display:inline-block;width:80px;height:80px;text-transform: uppercase;padding-top:12px}
.mouse_pointer {display:inline-block;width:40px;height:40px;border:1px solid #ddd ;border-radius:50%;position:absolute;top:0;left:0;transform: translate(-25%, -25%);background:rgba(255,255,255,.3)}

/*블랙배경*/

.wrap.on .tab div{background:#fff;}
.wrap.on circle {stroke: #fff;}