.main{overflow:hidden;height:100vh;}
header{background:var(--mono_bk);}
.head{width:100%;margin:0 auto;padding:40px 360px}
.head p{color:var(--mono_wh);font-size:32px;clear:both;}
.head img {width:155px;height:33px;float:right;}

/*가이드 버튼*/
.guide_list{width:1200px;height:100vh;margin:0 auto;padding:40px 0}
.guide_btn {width:auto;}
.guide_btn li {float:left;width:calc(100% / 3 - 10px);padding:32px;cursor:pointer;font-size:16px;font-weight:600;text-transform: uppercase;text-align:center;margin:10px 5px;border:1px solid var(--gray_50);}
.guide_btn li:hover {background:var(--cool_gray_500);color:var(--mono_wh)}
.guide_btn li.active {background:var(--cool_gray_500);position:relative;color:var(--mono_wh)}
.guide_btn li.active:after {content:'';display:inline-block;width:100%;height:100%;position:absolute;top:0;right:0;background:var(--blue_500);z-index:-1;}
