<!--모든 페이지 공통 ST-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>아이디 찾기</title>

    <link rel="stylesheet" href="../../assets/css/common.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
    <link rel="stylesheet" href="../../assets/css/layout.css"/>

    <script type="text/javascript" src="../../assets/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="wrap">
    <!--모든 페이지 공통 ED-->

    <!--헤더 ST-->
    <header>
        <div class="head">

        </div>
    </header>
    <!--헤더 ED-->

    <div class="login">
        <div class="login_inner radius_6 mono_bg_wh">
            <section class="login_top">
                <div class="logo pt40 pb40 tac">
                    <img src="../../assets/images/logo/nice_logo.svg" alt="나이스 로고"/>
                </div>
            </section>
            <section class="login_content pA60">
                <p class="login_tit tit_l_b pb10">아이디 찾기</p>
                <p class="login_txt disc_m_14 gray_500 pb40">임시 텍스트 임시 텍스트 임시 텍스트</p>

                <div class="login_form">
                    <div class="login_formIn pb20">
                        <p class="form_tit txt_m_r pb4">이름</p>
                        <label for="name"></label><input type="text" id="name" class="textField_input pl20 pr20 txt_m_r" placeholder="이름을 입력해 주세요.">
                    </div>
                    <div class="login_formIn pb60">
                        <p class="form_tit txt_m_r pb4">휴대폰 번호 <span class="red_500">*</span></p>
                        <div class="flex jcsb_flex">
                            <label for="tel"></label><input type="tel" id="tel" class="textField_input pl20 pr20 txt_m_r" placeholder="'-'를 제외한 숫자만 입력해 주세요.">
                            <button type="button" name="" class="btn radius_6 l_btn wh_btn font14 ml10 w30p" title="인증번호 받기 버튼" tabindex="">인증번호 받기</button>
                        </div>
                    </div>
                    <div class="login_formIn flex jcsb_flex">
                        <button type="button" name="" class="btn radius_6 l_btn wh_btn font14 w50p" title="취소 버튼" tabindex="" onclick="history.back(-1)">취소</button>
                        <button type="button" name="" class="btn radius_6 l_btn blue_btn font14 ml10 w50p" title="아이디 찾기 버튼" tabindex="" onclick="location.href='./findIdview.html'">아이디 찾기</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--모든 페이지 공통 ST-->

    <!--푸터 ST-->
    <footer>
        <div class="footer"></div>
    </footer>
    <!--푸터 ED-->

</div>
</body>
</html>
<!--모든 페이지 공통 ED-->