/*공통*/
.btnArea {display:flex;align-items: center;line-height:unset}
.btnFrame {display:flex;align-items: center;line-height:unset}
button{line-height:100%}

/*primary*/

.primary_small {padding:8px 12px;background:var(--pri_5);border-radius:4px;color:var(--mono_wh)}
.primary_small:hover {background:var(--pri_8);}
.primary_small.active {background:var(--pri_8);}
.primary_small.disabled {opacity: .3;pointer-events: none;}

.primary_medium {padding:10px 12px;background:var(--pri_5);border-radius:4px;color:var(--mono_wh)}
.primary_medium:hover {background:var(--pri_8);}
.primary_medium.active {background:var(--pri_8);}
.primary_medium.disabled {opacity: .3;pointer-events: none;}

.primary_large {padding:12px 14px;background:var(--pri_5);border-radius:4px;color:var(--mono_wh)}
.primary_large:hover {background:var(--pri_8);}
.primary_large.active {background:var(--pri_8);}
.primary_large.disabled {opacity: .3;pointer-events: none;}

.primary_xLarge {padding:14px 16px;background:var(--pri_5);border-radius:4px;color:var(--mono_wh)}
.primary_xLarge:hover {background:var(--pri_8);}
.primary_xLarge.active {background:var(--pri_8);}
.primary_xLarge.disabled {opacity: .3;pointer-events: none;}

.primary_small.btnArea img{margin-right:2px;width:10px;height:10px;}
.primary_medium.btnArea img{margin-right:2px;width:14px;height:14px;}
.primary_large.btnArea img{margin-right:4px;width:16px;height:16px;}
.primary_xLarge.btnArea img{margin-right:4px;width:16px;height:16px;}

.primary_small.btnFrame img{margin-left:2px;width:10px;height:10px;}
.primary_medium.btnFrame img{margin-left:2px;width:14px;height:14px;}
.primary_large.btnFrame img{margin-left:4px;width:16px;height:16px;}
.primary_xLarge.btnFrame img{margin-left:4px;width:16px;height:16px;}


/*secondary*/

.sec_small {padding:8px 12px;background:var(--mono_wh);border-radius:4px;color:var(--pri_5);border:1px solid var(--pri_3)}
.sec_small:hover {background:var(--mono_bg);color:var(--pri_8);}
.sec_small.active {background:var(--mono_bg);color:var(--pri_8);}
.sec_small.disabled {opacity: .5;pointer-events: none;}

.sec_medium {padding:10px 12px;background:var(--mono_wh);border-radius:4px;color:var(--pri_5);border:1px solid var(--pri_3)}
.sec_medium:hover {background:var(--mono_bg);color:var(--pri_8);}
.sec_medium.active {background:var(--mono_bg);color:var(--pri_8);}
.sec_medium.disabled {opacity: .5;pointer-events: none;}

.sec_large {padding:12px 14px;background:var(--mono_wh);border-radius:4px;color:var(--pri_5);border:1px solid var(--pri_3)}
.sec_large:hover {background:var(--mono_bg);color:var(--pri_8);}
.sec_large.active {background:var(--mono_bg);color:var(--pri_8);}
.sec_large.disabled {opacity: .5;pointer-events: none;}

.sec_xLarge {padding:14px 16px;background:var(--mono_wh);border-radius:4px;color:var(--pri_5);border:1px solid var(--pri_3)}
.sec_xLarge:hover {background:var(--mono_bg);color:var(--pri_8);}
.sec_xLarge.active {background:var(--mono_bg);color:var(--pri_8);}
.sec_xLarge.disabled {opacity: .5;pointer-events: none;}

.sec_small.btnArea span{margin-right:2px;width:10px;height:10px;}
.sec_medium.btnArea span{margin-right:2px;width:14px;height:14px;}
.sec_large.btnArea span{margin-right:4px;width:16px;height:16px;}
.sec_xLarge.btnArea span{margin-right:4px;width:16px;height:16px;}

.sec_small.btnFrame span{margin-left:2px;width:10px;height:10px;}
.sec_medium.btnFrame span{margin-left:2px;width:14px;height:14px;}
.sec_large.btnFrame span{margin-left:4px;width:16px;height:16px;}
.sec_xLarge.btnFrame span{margin-left:4px;width:16px;height:16px;}

.sec_small.btnArea img{vertical-align: top}
.sec_medium.btnArea img{vertical-align: top}
.sec_large.btnArea img{vertical-align: top}
.sec_xLarge.btnArea img{vertical-align: top}

.sec_small.btnFrame img{vertical-align: top}
.sec_medium.btnFrame img{vertical-align: top}
.sec_large.btnFrame img{vertical-align: top}
.sec_xLarge.btnFrame img{vertical-align: top}

.sec_small.btnFrame:hover img{display:none;}
.sec_small.btnFrame:hover span{display:inline-block;margin-left:2px;width:10px;height:10px;background:url('/images/button_pri8.svg') no-repeat center center / 10px 10px;}
.sec_medium.btnFrame:hover img{display:none;}
.sec_medium.btnFrame:hover span{display:inline-block;margin-left:2px;width:14px;height:14px;background:url('/images/button_pri8.svg') no-repeat center center / 14px 14px;}
.sec_large.btnFrame:hover img{display:none;}
.sec_large.btnFrame:hover span{display:inline-block;margin-left:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}
.sec_xLarge.btnFrame:hover img{display:none;}
.sec_xLarge.btnFrame:hover span{display:inline-block;margin-left:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}

.sec_small.btnArea:hover img{display:none;}
.sec_small.btnArea:hover span{display:inline-block;margin-right:2px;width:10px;height:10px;background:url('/images/button_pri8.svg') no-repeat center center / 10px 10px;}
.sec_medium.btnArea:hover img{display:none;}
.sec_medium.btnArea:hover span{display:inline-block;margin-right:2px;width:14px;height:14px;background:url('/images/button_pri8.svg') no-repeat center center / 14px 14px;}
.sec_large.btnArea:hover img{display:none;}
.sec_large.btnArea:hover span{display:inline-block;margin-right:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}
.sec_xLarge.btnArea:hover img{display:none;}
.sec_xLarge.btnArea:hover span{display:inline-block;margin-right:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}


/*Tertiary*/

.ter_small {padding:8px 12px;background:var(--mono_bg);border-radius:4px;color:var(--mono_g9);}
.ter_small:hover {background:var(--mono_g1);}
.ter_small.active {background:var(--mono_g1);color:var(--mono_g9);}
.ter_small.disabled {opacity: .3;pointer-events: none;}

.ter_medium {padding:10px 12px;background:var(--mono_bg);border-radius:4px;color:var(--mono_g9);}
.ter_medium:hover {background:var(--mono_g1);}
.ter_medium.active {background:var(--mono_g1);color:var(--mono_g9);}
.ter_medium.disabled {opacity: .3;pointer-events: none;}

.ter_large {padding:12px 14px;background:var(--mono_bg);border-radius:4px;color:var(--mono_g9);}
.ter_large:hover {background:var(--mono_g1);}
.ter_large.active {background:var(--mono_g1);color:var(--mono_g9);}
.ter_large.disabled {opacity: .3;pointer-events: none;}

.ter_xLarge {padding:14px 16px;background:var(--mono_bg);border-radius:4px;color:var(--mono_g9);}
.ter_xLarge:hover {background:var(--mono_g1);}
.ter_xLarge.active {background:var(--mono_g1);color:var(--mono_g9);}
.ter_xLarge.disabled {opacity: .3;pointer-events: none;}

.ter_small.btnArea img{margin-right:2px;width:10px;height:10px;}
.ter_medium.btnArea img{margin-right:2px;width:14px;height:14px;}
.ter_large.btnArea img{margin-right:4px;width:16px;height:16px;}
.ter_xLarge.btnArea img{margin-right:4px;width:16px;height:16px;}

.ter_small.btnFrame img{margin-left:2px;width:10px;height:10px;}
.ter_medium.btnFrame img{margin-left:2px;width:14px;height:14px;}
.ter_large.btnFrame img{margin-left:4px;width:16px;height:16px;}
.ter_xLarge.btnFrame img{margin-left:4px;width:16px;height:16px;}

/*Fill*/

.fill_small {padding:8px 12px;background:#000;border-radius:4px;color:var(--mono_wh);}
.fill_small:hover {background:var(--mono_g8);}
.fill_small.active {background:var(--mono_g8);color:var(--mono_wh);}
.fill_small.disabled {pointer-events: none;color:var(--mono_g5);background:var(--mono_bg);}
.fill_small.disabled img{opacity: .4;}

.fill_medium {padding:10px 12px;background:#000;border-radius:4px;color:var(--mono_wh);}
.fill_medium:hover {background:var(--mono_g8);}
.fill_medium.active {background:var(--mono_g8);color:var(--mono_wh);}
.fill_medium.disabled {pointer-events: none;color:var(--mono_g5);background:var(--mono_bg);}
.fill_medium.disabled img{opacity: .4;}

.fill_large {padding:12px 14px;background:#000;border-radius:4px;color:var(--mono_wh);}
.fill_large:hover {background:var(--mono_g8);}
.fill_large.active {background:var(--mono_g8);color:var(--mono_wh);}
.fill_large.disabled {pointer-events: none;color:var(--mono_g5);background:var(--mono_bg);}
.fill_large.disabled img{opacity: .4;}

.fill_xLarge {padding:14px 16px;background:#000;border-radius:4px;color:var(--mono_wh);}
.fill_xLarge:hover {background:var(--mono_g8);}
.fill_xLarge.active {background:var(--mono_g8);color:var(--mono_wh);}
.fill_xLarge.disabled {pointer-events: none;color:var(--mono_g5);background:var(--mono_bg);}
.fill_xLarge.disabled img{opacity: .4;}

.fill_small.btnArea img{margin-right:2px;width:10px;height:10px;}
.fill_medium.btnArea img{margin-right:2px;width:14px;height:14px;}
.fill_large.btnArea img{margin-right:4px;width:16px;height:16px;}
.fill_xLarge.btnArea img{margin-right:4px;width:16px;height:16px;}

.fill_small.btnFrame img{margin-left:2px;width:10px;height:10px;}
.fill_medium.btnFrame img{margin-left:2px;width:14px;height:14px;}
.fill_large.btnFrame img{margin-left:4px;width:16px;height:16px;}
.fill_xLarge.btnFrame img{margin-left:4px;width:16px;height:16px;}


/*Out line*/

.outLine_small {padding:8px 12px;background:var(--mono_wh);border-radius:4px;color:var(--mono_b);border:1px solid var(--mono_g3)}
.outLine_small:hover {background:var(--mono_bg);}
.outLine_small.active {background:var(--mono_bg);}
.outLine_small.disabled {pointer-events: none;opacity: .3}

.outLine_medium {padding:10px 12px;background:var(--mono_wh);border-radius:4px;color:var(--mono_b);border:1px solid var(--mono_g3)}
.outLine_medium:hover {background:var(--mono_bg);}
.outLine_medium.active {background:var(--mono_bg);}
.outLine_medium.disabled {pointer-events: none;opacity: .3}

.outLine_large {padding:12px 14px;background:var(--mono_wh);border-radius:4px;color:var(--mono_b);border:1px solid var(--mono_g3)}
.outLine_large:hover {background:var(--mono_bg);}
.outLine_large.active {background:var(--mono_bg);}
.outLine_large.disabled {pointer-events: none;opacity: .3}

.outLine_xLarge {padding:14px 16px;background:var(--mono_wh);border-radius:4px;color:var(--mono_b);border:1px solid var(--mono_g3)}
.outLine_xLarge:hover {background:var(--mono_bg);}
.outLine_xLarge.active {background:var(--mono_bg);}
.outLine_xLarge.disabled {pointer-events: none;opacity: .3}

.outLine_small.btnArea img{margin-right:2px;width:10px;height:10px;}
.outLine_medium.btnArea img{margin-right:2px;width:14px;height:14px;}
.outLine_large.btnArea img{margin-right:4px;width:16px;height:16px;}
.outLine_xLarge.btnArea img{margin-right:4px;width:16px;height:16px;}

.outLine_small.btnFrame img{margin-left:2px;width:10px;height:10px;}
.outLine_medium.btnFrame img{margin-left:2px;width:14px;height:14px;}
.outLine_large.btnFrame img{margin-left:4px;width:16px;height:16px;}
.outLine_xLarge.btnFrame img{margin-left:4px;width:16px;height:16px;}




/*text primary*/

.textPri_small {padding:8px 12px;border-radius:4px;color:var(--pri_5)}
.textPri_small.textUnder {padding:8px 12px;border-radius:4px;color:var(--pri_5);text-decoration: underline;text-underline-position : under;}
.textPri_small:hover {color:var(--pri_8)}
.textPri_small.active {color:var(--pri_8)}
.textPri_small.disabled {opacity: .3;pointer-events: none;}


.textPri_medium {padding:10px 12px;border-radius:4px;color:var(--pri_5)}
.textPri_medium.textUnder {padding:8px 12px;border-radius:4px;color:var(--pri_5);text-decoration: underline;text-underline-position : under;}
.textPri_medium:hover {color:var(--pri_8)}
.textPri_medium.active {color:var(--pri_8)}
.textPri_medium.disabled {opacity: .3;pointer-events: none;}

.textPri_large {padding:12px 14px;border-radius:4px;color:var(--pri_5)}
.textPri_large.textUnder {padding:8px 12px;border-radius:4px;color:var(--pri_5);text-decoration: underline;text-underline-position : under;}
.textPri_large:hover {color:var(--pri_8)}
.textPri_large.active {color:var(--pri_8)}
.textPri_large.disabled {opacity: .3;pointer-events: none;}

.textPri_small.btnArea span{margin-right:2px;width:10px;height:10px;}
.textPri_medium.btnArea span{margin-right:2px;width:14px;height:14px;}
.textPri_large.btnArea span{margin-right:4px;width:16px;height:16px;}

.textPri_small.btnFrame span{margin-left:2px;width:10px;height:10px;}
.textPri_medium.btnFrame span{margin-left:2px;width:14px;height:14px;}
.textPri_large.btnFrame span{margin-left:4px;width:16px;height:16px;}

.textPri_small.btnArea img{vertical-align: top}
.textPri_medium.btnArea img{vertical-align: top;width:14px;height:14px;}
.textPri_large.btnArea img{vertical-align: top}

.textPri_small.btnFrame img{vertical-align: top}
.textPri_medium.btnFrame img{vertical-align: top;width:14px;height:14px;}
.textPri_large.btnFrame img{vertical-align: top}

.textPri_small.btnFrame:hover img{display:none;}
.textPri_small.btnFrame:hover span{display:inline-block;margin-left:2px;width:10px;height:10px;background:url('/images/button_pri8.svg') no-repeat center center / 10px 10px;}
.textPri_medium.btnFrame:hover img{display:none;}
.textPri_medium.btnFrame:hover span{display:inline-block;margin-left:2px;width:14px;height:14px;background:url('/images/button_pri8.svg') no-repeat center center / 14px 14px;}
.textPri_large.btnFrame:hover img{display:none;}
.textPri_large.btnFrame:hover span{display:inline-block;margin-left:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}

.textPri_small.btnArea:hover img{display:none;}
.textPri_small.btnArea:hover span{display:inline-block;margin-right:2px;width:10px;height:10px;background:url('/images/button_pri8.svg') no-repeat center center / 10px 10px;}
.textPri_medium.btnArea:hover img{display:none;}
.textPri_medium.btnArea:hover span{display:inline-block;margin-right:2px;width:14px;height:14px;background:url('/images/button_pri8.svg') no-repeat center center / 14px 14px;}
.textPri_large.btnArea:hover img{display:none;}
.textPri_large.btnArea:hover span{display:inline-block;margin-right:4px;width:16px;height:16px;background:url('/images/button_pri8.svg') no-repeat center center / 16px 16px;}


/*text Secondary*/

.textSec_small {padding:8px 12px;border-radius:4px;color:var(--mono_g8)}
.textSec_small.textUnder {padding:8px 12px;border-radius:4px;color:var(--mono_g8);text-decoration: underline;text-underline-position : under;}
.textSec_small:hover {color:var(--mono_b)}
.textSec_small.active {color:var(--mono_b)}
.textSec_small.disabled {opacity: .3;pointer-events: none;}


.textSec_medium {padding:10px 12px;border-radius:4px;color:var(--mono_g8)}
.textSec_medium.textUnder {padding:8px 12px;border-radius:4px;color:var(--mono_g8);text-decoration: underline;text-underline-position : under;}
.textSec_medium:hover {color:var(--mono_b)}
.textSec_medium.active {color:var(--mono_b)}
.textSec_medium.disabled {opacity: .3;pointer-events: none;}

.textSec_large {padding:12px 14px;border-radius:4px;color:var(--mono_g8)}
.textSec_large.textUnder {padding:8px 12px;border-radius:4px;color:var(--mono_g8);text-decoration: underline;text-underline-position : under;}
.textSec_large:hover {color:var(--mono_b)}
.textSec_large.active {color:var(--mono_b)}
.textSec_large.disabled {opacity: .3;pointer-events: none;}

.textSec_small.btnArea span{margin-right:2px;width:10px;height:10px;}
.textSec_medium.btnArea span{margin-right:2px;width:14px;height:14px;}
.textSec_large.btnArea span{margin-right:4px;width:16px;height:16px;}

.textSec_small.btnFrame span{margin-left:2px;width:10px;height:10px;}
.textSec_medium.btnFrame span{margin-left:2px;width:14px;height:14px;}
.textSec_large.btnFrame span{margin-left:4px;width:16px;height:16px;}

.textSec_small.btnArea img{vertical-align: top}
.textSec_medium.btnArea img{vertical-align: top;width:14px;height:14px;}
.textSec_large.btnArea img{vertical-align: top}

.textSec_small.btnFrame img{vertical-align: top}
.textSec_medium.btnFrame img{vertical-align: top;width:14px;height:14px;}
.textSec_large.btnFrame img{vertical-align: top}

.textSec_small.btnFrame:hover img{display:none;}
.textSec_small.btnFrame:hover span{display:inline-block;margin-left:2px;width:10px;height:10px;background:url('/images/textbutton_b.svg') no-repeat center center / 10px 10px;}
.textSec_medium.btnFrame:hover img{display:none;}
.textSec_medium.btnFrame:hover span{display:inline-block;margin-left:2px;width:14px;height:14px;background:url('/images/textbutton_b.svg') no-repeat center center / 14px 14px;}
.textSec_large.btnFrame:hover img{display:none;}
.textSec_large.btnFrame:hover span{display:inline-block;margin-left:4px;width:16px;height:16px;background:url('/images/textbutton_b.svg') no-repeat center center / 16px 16px;}

.textSec_small.btnArea:hover img{display:none;}
.textSec_small.btnArea:hover span{display:inline-block;margin-right:2px;width:10px;height:10px;background:url('/images/textbutton_b.svg') no-repeat center center / 10px 10px;}
.textSec_medium.btnArea:hover img{display:none;}
.textSec_medium.btnArea:hover span{display:inline-block;margin-right:2px;width:14px;height:14px;background:url('/images/textbutton_b.svg') no-repeat center center / 14px 14px;}
.textSec_large.btnArea:hover img{display:none;}
.textSec_large.btnArea:hover span{display:inline-block;margin-right:4px;width:16px;height:16px;background:url('/images/textbutton_b.svg') no-repeat center center / 16px 16px;}

/*button group*/
.groupTable td{padding:110px 0}
.w335{width:335px;}/*width에 따라 변경*/
.groupTable td .w335{margin:0 auto;}

.twoCall {display:flex;justify-content: center;align-items: center;}
.twoCall button{width:calc(100% / 2)}
.twoCall button:first-child{margin-right:4px;}
.twoCall .w44{width:44px;}
.twoCall .w100_44{width:calc(100% - 44px)}

.twoButton_large {display:flex;justify-content: center;align-items: center;}
.twoButton_large button.actionBtn{width:44px;margin-right:4px;padding:6px 9px}
.twoButton_large button.actionBtn:hover{padding:6px 9px}
.twoButton_large button:last-child{width:calc(100% - 44px)}

.twoButton_xLarge {display:flex;justify-content: center;align-items: center;}
.twoButton_xLarge button.actionBtn{width:50px;margin-right:4px;padding:6px 12px}
.twoButton_xLarge button:last-child{width:calc(100% - 50px)}

.threeButton_large {display:flex;justify-content: center;align-items: center;}
.threeButton_large button.actionBtn{width:44px;margin-right:4px;padding:6px 9px}
.threeButton_large button.actionBtn:hover{padding:6px 9px}
.threeButton_large button:last-child{width:calc(100% - 44px)}

.threeButton_xLarge {display:flex;justify-content: center;align-items: center;}
.threeButton_xLarge button.actionBtn{width:50px;margin-right:4px;padding:6px 12px}
.threeButton_xLarge button:last-child{width:calc(100% - 50px)}

.customButton {display:flex;justify-content: space-between;align-items: center}
.customButton .customBlank {width:calc(100% - 60px);margin-right:20px;text-align:left;}
.customButton .customBlank p {font-size:10px;font-weight:700;color:#000;line-height:120%;}
.customButton .customBlank span {font-size:10px;font-weight:400;line-height:120%;color:#000}
.customButton button{width:60px;}

/*BottomButtonGroup*/
@media (max-width:1366px){
    .mo_fixedButton {position:fixed;bottom:0;left:0;width:100% !important;padding:20px;z-index:999;background:#fff;}

}



/*icon button*/
.pri_icon_small {background:var(--pri_5);padding:9px;border-radius:4px;}
.pri_icon_small img {width:12px;height:12px;}
.pri_icon_small:hover {background:var(--pri_8)}
.pri_icon_small.active{background:var(--pri_8)}
.pri_icon_small.disabled{opacity: .2;pointer-events: none}
.pri_icon_medium {background:var(--pri_5);padding:10px;border-radius:4px;}
.pri_icon_medium img {width:18px;height:18px;}
.pri_icon_medium:hover {background:var(--pri_8)}
.pri_icon_medium.active{background:var(--pri_8)}
.pri_icon_medium.disabled{opacity: .2;pointer-events: none}
.pri_icon_large {background:var(--pri_5);padding:13px;border-radius:4px;}
.pri_icon_large img {width:18px;height:18px;}
.pri_icon_large:hover {background:var(--pri_8)}
.pri_icon_large.active{background:var(--pri_8)}
.pri_icon_large.disabled{opacity: .2;pointer-events: none}
.pri_icon_xLarge {background:var(--pri_5);padding:15px;border-radius:4px;}
.pri_icon_xLarge img {width:20px;height:20px;}
.pri_icon_xLarge:hover {background:var(--pri_8)}
.pri_icon_xLarge.active{background:var(--pri_8)}
.pri_icon_xLarge.disabled{opacity: .2;pointer-events: none}

/*secondary*/
.sec_icon_small {border:1px solid var(--pri_3);padding:9px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.sec_icon_small:hover {background:var(--mono_bg)}
.sec_icon_small .sec_icon_img{width:12px;height:12px;display:inline-block;}
.sec_icon_small .sec_icon_img img{width:12px;height:12px;vertical-align: top;}
.sec_icon_small:hover .sec_icon_img img{display:none;}
.sec_icon_small:hover .sec_icon_img{background:url('/images/iconButton_pri.svg') no-repeat center center / 12px 12px;}
.sec_icon_small .sec_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.sec_icon_small:hover .sec_icon_arrow img{display:none;}
.sec_icon_small:hover .sec_icon_arrow {background:url('/images/iconButton_arrow_pri.svg') no-repeat center center / 16px 16px;}
.sec_icon_small.active{background:var(--mono_bg)}
.sec_icon_small.disabled{opacity: .2;pointer-events: none}

.sec_icon_medium {border:1px solid var(--pri_3);padding:10px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.sec_icon_medium:hover {background:var(--mono_bg)}
.sec_icon_medium .sec_icon_img{width:18px;height:18px;display:inline-block;}
.sec_icon_medium .sec_icon_img img{width:18px;height:18px;}
.sec_icon_medium:hover .sec_icon_img img{display:none;}
.sec_icon_medium:hover .sec_icon_img{background:url('/images/iconButton_pri.svg') no-repeat center center / 18px 18px;}
.sec_icon_medium .sec_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.sec_icon_medium:hover .sec_icon_arrow img{display:none;}
.sec_icon_medium:hover .sec_icon_arrow{background:url('/images/iconButton_arrow_pri.svg') no-repeat center center / 16px 16px;}
.sec_icon_medium.active{background:var(--mono_bg)}
.sec_icon_medium.disabled{opacity: .2;pointer-events: none}

.sec_icon_large {border:1px solid var(--pri_3);padding:13px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.sec_icon_large:hover {background:var(--mono_bg)}
.sec_icon_large .sec_icon_img{width:18px;height:18px;display:inline-block;}
.sec_icon_large .sec_icon_img img{width:18px;height:18px;}
.sec_icon_large:hover .sec_icon_img img{display:none;}
.sec_icon_large:hover .sec_icon_img{background:url('/images/iconButton_pri.svg') no-repeat center center / 18px 18px;}
.sec_icon_large .sec_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.sec_icon_large:hover .sec_icon_arrow img{display:none;}
.sec_icon_large:hover .sec_icon_arrow {background:url('/images/iconButton_arrow_pri.svg') no-repeat center center / 16px 16px;}
.sec_icon_large.active{background:var(--mono_bg)}
.sec_icon_large.disabled{opacity: .2;pointer-events: none}

.sec_icon_xLarge {border:1px solid var(--pri_3);padding:15px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.sec_icon_xLarge:hover {background:var(--mono_bg)}
.sec_icon_xLarge .sec_icon_img{width:20px;height:20px;display:inline-block;}
.sec_icon_xLarge .sec_icon_img img{width:20px;height:20px;}
.sec_icon_xLarge:hover .sec_icon_img img{display:none;}
.sec_icon_xLarge:hover .sec_icon_img{background:url('/images/iconButton_pri.svg') no-repeat center center / 20px 20px;}
.sec_icon_xLarge .sec_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.sec_icon_xLarge:hover .sec_icon_arrow img{display:none;}
.sec_icon_xLarge:hover .sec_icon_arrow{background:url('/images/iconButton_arrow_pri.svg') no-repeat center center / 16px 16px;}
.sec_icon_xLarge.active{background:var(--mono_bg)}
.sec_icon_xLarge.disabled{opacity: .2;pointer-events: none}

/*Tertiary*/
.ter_icon_small {background:var(--mono_bg);padding:9px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.ter_icon_small:hover {background:var(--mono_g1)}
.ter_icon_small .ter_icon_img{width:12px;height:12px;display:inline-block;}
.ter_icon_small .ter_icon_img img{width:12px;height:12px;vertical-align: top;}
.ter_icon_small:hover .ter_icon_img img{display:none;}
.ter_icon_small:hover .ter_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 12px 12px;}
.ter_icon_small .ter_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.ter_icon_small:hover .ter_icon_arrow img{display:none;}
.ter_icon_small:hover .ter_icon_arrow {background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.ter_icon_small.active{background:var(--mono_g1)}
.ter_icon_small.disabled{opacity: .2;pointer-events: none}

.ter_icon_medium {background:var(--mono_bg);padding:10px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.ter_icon_medium:hover {background:var(--mono_g1)}
.ter_icon_medium .ter_icon_img{width:18px;height:18px;display:inline-block;}
.ter_icon_medium .ter_icon_img img{width:18px;height:18px;}
.ter_icon_medium:hover .ter_icon_img img{display:none;}
.ter_icon_medium:hover .ter_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 18px 18px;}
.ter_icon_medium .ter_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.ter_icon_medium:hover .ter_icon_arrow img{display:none;}
.ter_icon_medium:hover .ter_icon_arrow{background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.ter_icon_medium.active{background:var(--mono_g1)}
.ter_icon_medium.disabled{opacity: .2;pointer-events: none}

.ter_icon_large {background:var(--mono_bg);padding:13px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.ter_icon_large:hover {background:var(--mono_g1)}
.ter_icon_large .ter_icon_img{width:18px;height:18px;display:inline-block;}
.ter_icon_large .ter_icon_img img{width:18px;height:18px;}
.ter_icon_large:hover .ter_icon_img img{display:none;}
.ter_icon_large:hover .ter_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 18px 18px;}
.ter_icon_large .ter_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.ter_icon_large:hover .ter_icon_arrow img{display:none;}
.ter_icon_large:hover .ter_icon_arrow {background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.ter_icon_large.active{background:var(--mono_g1)}
.ter_icon_large.disabled{opacity: .2;pointer-events: none}

.ter_icon_xLarge {background:var(--mono_bg);padding:15px;border-radius:4px;display:flex;justify-content: center;align-items: center;}
.ter_icon_xLarge:hover {background:var(--mono_g1)}
.ter_icon_xLarge .ter_icon_img{width:20px;height:20px;display:inline-block;}
.ter_icon_xLarge .ter_icon_img img{width:20px;height:20px;}
.ter_icon_xLarge:hover .ter_icon_img img{display:none;}
.ter_icon_xLarge:hover .ter_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 20px 20px;}
.ter_icon_xLarge .ter_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.ter_icon_xLarge:hover .ter_icon_arrow img{display:none;}
.ter_icon_xLarge:hover .ter_icon_arrow{background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.ter_icon_xLarge.active{background:var(--mono_g1)}
.ter_icon_xLarge.disabled{opacity: .2;pointer-events: none}


/*out line*/
.outLine_icon_small {background:var(--mono_wh);padding:9px;border-radius:4px;display:flex;justify-content: center;align-items: center;border:1px solid var(--mono_g2)}
.outLine_icon_small:hover {background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_small .outLine_icon_img{width:12px;height:12px;display:inline-block;}
.outLine_icon_small .outLine_icon_img img{width:12px;height:12px;vertical-align: top;}
.outLine_icon_small:hover .outLine_icon_img img{display:none;}
.outLine_icon_small:hover .outLine_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 12px 12px;}
.outLine_icon_small .outLine_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.outLine_icon_small:hover .outLine_icon_arrow img{display:none;}
.outLine_icon_small:hover .outLine_icon_arrow {background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.outLine_icon_small.active{background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_small.disabled{opacity: .2;pointer-events: none}

.outLine_icon_medium {background:var(--mono_wh);padding:10px;border-radius:4px;display:flex;justify-content: center;align-items: center;border:1px solid var(--mono_g2)}
.outLine_icon_medium:hover {background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_medium .outLine_icon_img{width:18px;height:18px;display:inline-block;}
.outLine_icon_medium .outLine_icon_img img{width:18px;height:18px;}
.outLine_icon_medium:hover .outLine_icon_img img{display:none;}
.outLine_icon_medium:hover .outLine_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 18px 18px;}
.outLine_icon_medium .outLine_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:2px;}
.outLine_icon_medium:hover .outLine_icon_arrow img{display:none;}
.outLine_icon_medium:hover .outLine_icon_arrow{background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.outLine_icon_medium.active{background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_medium.disabled{opacity: .2;pointer-events: none}

.outLine_icon_large {background:var(--mono_wh);padding:13px;border-radius:4px;display:flex;justify-content: center;align-items: center;border:1px solid var(--mono_g2)}
.outLine_icon_large:hover {background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_large .outLine_icon_img{width:18px;height:18px;display:inline-block;}
.outLine_icon_large .outLine_icon_img img{width:18px;height:18px;}
.outLine_icon_large:hover .outLine_icon_img img{display:none;}
.outLine_icon_large:hover .outLine_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 18px 18px;}
.outLine_icon_large .outLine_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.outLine_icon_large:hover .outLine_icon_arrow img{display:none;}
.outLine_icon_large:hover .outLine_icon_arrow {background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.outLine_icon_large.active{background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_large.disabled{opacity: .2;pointer-events: none}

.outLine_icon_xLarge {background:var(--mono_wh);padding:15px;border-radius:4px;display:flex;justify-content: center;align-items: center;border:1px solid var(--mono_g2)}
.outLine_icon_xLarge:hover {background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_xLarge .outLine_icon_img{width:20px;height:20px;display:inline-block;}
.outLine_icon_xLarge .outLine_icon_img img{width:20px;height:20px;}
.outLine_icon_xLarge:hover .outLine_icon_img img{display:none;}
.outLine_icon_xLarge:hover .outLine_icon_img{background:url('/images/iconButton_bk.svg') no-repeat center center / 20px 20px;}
.outLine_icon_xLarge .outLine_icon_arrow{width:16px;height:16px;display:inline-block;margin-left:4px;}
.outLine_icon_xLarge:hover .outLine_icon_arrow img{display:none;}
.outLine_icon_xLarge:hover .outLine_icon_arrow{background:url('/images/iconButton_arrow_bk.svg') no-repeat center center / 16px 16px;}
.outLine_icon_xLarge.active{background:var(--mono_bg);border:1px solid var(--mono_g3)}
.outLine_icon_xLarge.disabled{opacity: .2;pointer-events: none}

/*CTA -CallToAction*/
.outLine_icon_large span{display:block !important;margin:0 auto 2px}
.outLine_icon_xLarge span{display:block !important;margin:0 auto 2px}
.actionBtn {display:block !important;}
.outLine_icon_large.actionBtn {padding:3px 9px;}
.outLine_icon_large.actionBtn:hover {padding:3px 9px;}
.outLine_icon_xLarge.actionBtn{padding:4px 12px;}

/*fab*/
.top_float_btn {/*position:fixed;bottom:20px;right:20px;*/padding:11px 12px 0 12px;border:1px solid var(--pri_2);width:72px;height:72px;display:inline-block;text-align:center;border-radius:999px;text-decoration: none;box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.10), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);}
.top_float_btn span{width:36px;height:36px;display:block;margin:0 auto;}
.top_float_btn img {}
.top_float_btn p.fab_text {color:var(--pri_5)}

.top_float_btn:hover {border:1px solid var(--pri_4);box-shadow: 0px 2px 4px -2px rgba(0, 94, 231, 0.20), 0px 4px 6px -1px rgba(0, 94, 231, 0.20);}
.top_float_btn:hover span{background:url('/images/top_icon_pri7.svg') no-repeat center center / 36px 36px;}
.top_float_btn:hover img {display:none;}
.top_float_btn:hover p.fab_text {color:var(--pri_7)}