footer {padding:60px 0;width:100%}
.foot{margin:0 auto;/*width:전체 넓이*/}
.foot_topCont {display:flex;margin-bottom:40px;}
.foot_logo {width:calc(100% - 730px)}
.foot_menu {width:730px;}
.foot_menuList {height:auto;overflow:hidden;}
.foot_menuList li{float:left;width:calc(100% / 3);padding:8px 12px;}
.foot_menuList li:nth-child(3n+1){clear:both;}
.logoBox {width:150px;height:20px;background:var(--mono_bg);margin-bottom:16px}
.mo_foot_menuTit {display:none;}
.smLogo {width:75px;height:24px;background:var(--mono_bg);margin-bottom:20px;}
.smText{font-size:10px;font-weight:400;color:#a2a2a2;margin-bottom:16px;}
.copyLight{font-size:10px;font-weight:400;color:#a2a2a2}


@media  screen and (max-width:1200px) {
    footer {padding:40px 20px;}
    .logoBox {margin-bottom:20px;}
    .logoText {padding-bottom:20px;border-bottom:1px solid var(--mono_bg)}
    .foot_topCont {display:block;border-bottom:1px solid var(--mono_bg);padding-bottom:20px;margin-bottom:20px;}
    .foot_topCont li{width:100%}
    .foot_menu {margin-top:40px;}
    .smText {display:none;}
    .mo_foot_menuTit {display:block;padding:10px 0;position:relative;}
    .mo_foot_menuTit:after{content:'';display:inline-block;background:url('/images/icons/keyboard_arrow_down-gr_outlined.svg') no-repeat center center / 16px 16px;width:16px;height:16px;position:absolute;top:50%;right:0;transform:translateY(-50%) rotate(-180deg)}
    .foot_menuList{display:none;}
    .foot_menu.active .mo_foot_menuTit:after{content:'';transform:rotate(0)}
    .foot_menu.active .foot_menuList{display:block;}
}