input[type="checkbox"]{display: none;}
input[type="radio"]{display:none;}

/*switch_small*/
input[name="switch_small"] + label{display: inline-block;width: 34px;height: 20px;position: relative;border-radius:30px;background:var(--mono_g4)}
input[name="switch_small"]:checked + label {background:var(--pri_5)}
input[name="switch_small"] + label::after{content:'';position: absolute;left: 3px;top:3px;width:14px;height:14px;border-radius:50%;background:var(--mono_wh);transition:.4s}
input[name="switch_small"]:checked + label::after{content:'';right:3px;left:auto;transition:.4s;}
input[name="switch_small"].switch_small.disabled + label{background:var(--mono_g2);pointer-events: none;}


/*switch_default*/
input[name="switch_default"] + label{display: inline-block;width: 46px;height: 26px;position: relative;border-radius:30px;background:var(--mono_g4)}
input[name="switch_default"]:checked + label {background:var(--pri_5)}
input[name="switch_default"] + label::after{content:'';position: absolute;left: 3px;top:3px;width:20px;height:20px;border-radius:50%;background:var(--mono_wh);transition:.4s}
input[name="switch_default"]:checked + label::after{content:'';right:3px;left:auto;transition:.4s;}
input[name="switch_default"].switch_default.disabled + label{background:var(--mono_g2);pointer-events: none;}

/*squareCheck_small*/
input[name="squareCheck_small"] + label{display: inline-block;position: relative;padding-left:22px}
input[name="squareCheck_small"] + label:before {content:'';width: 14px;height: 14px;border-radius:4px;background:var(--mono_g2);position:absolute;top:4px;left:0;}
input[name="squareCheck_small"]:checked + label::after{content:'';position: absolute;left:0;top:4px;width:14px;height:14px;background:var(--pri_5) url('/images/icons/check-wh.svg') no-repeat center center / 12px 12px;border-radius:4px;}
input[name="squareCheck_small"].inde:checked + label::after{content:'';position: absolute;left:0;top:4px;width:14px;height:14px;background:var(--pri_5) url('/images/icons/remove-wh.svg') no-repeat center center / 12px 12px;border-radius:4px;}
input[name="squareCheck_small"].squareCheck_small.disabled + label{pointer-events: none;}
input[name="squareCheck_small"].squareCheck_small.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_small"].squareCheck_small.disabled + label span {color:var(--mono_g5)}
.squareCheck_small_text {padding-left:22px;margin-top:4px;color:var(--mono_g7)}
.disabled .squareCheck_small_text {color:var(--mono_g3)}

/*squareCheck_medium*/
input[name="squareCheck_medium"] + label{display: inline-block;position: relative;padding-left:26px}
input[name="squareCheck_medium"] + label:before {content:'';width: 18px;height: 18px;border-radius:4px;background:var(--mono_g2);position:absolute;top:1px;left:0;}
input[name="squareCheck_medium"]:checked + label::after{content:'';position: absolute;left:0;top:1px;width:18px;height:18px;background:var(--pri_5) url('/images/icons/check-wh.svg') no-repeat center center / 15px 15px;border-radius:4px;}
input[name="squareCheck_medium"].inde:checked + label::after{content:'';position: absolute;left:0;top:1px;width:18px;height:18px;background:var(--pri_5) url('/images/icons/remove-wh.svg') no-repeat center center / 15px 15px;border-radius:4px;}
input[name="squareCheck_medium"].squareCheck_medium.disabled + label{pointer-events: none;}
input[name="squareCheck_medium"].squareCheck_medium.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_medium"].squareCheck_medium.disabled + label span {color:var(--mono_g5)}
.squareCheck_medium_text {padding-left:26px;margin-top:6px;color:var(--mono_g7)}
.disabled .squareCheck_medium_text {color:var(--mono_g3)}

/*squareCheck_default*/
input[name="squareCheck_default"] + label{display: inline-block;position: relative;padding-left:34px}
input[name="squareCheck_default"] + label:before {content:'';width: 24px;height: 24px;border-radius:4px;background:var(--mono_g2);position:absolute;top:-2px;left:0;}
input[name="squareCheck_default"]:checked + label::after{content:'';position: absolute;left:0;top:-2px;width:24px;height:24px;background:var(--pri_5) url('/images/icons/check-wh.svg') no-repeat center center / 20px 20px;border-radius:4px;}
input[name="squareCheck_default"].inde:checked + label::after{content:'';position: absolute;left:0;top:-2px;width:24px;height:24px;background:var(--pri_5) url('/images/icons/remove-wh.svg') no-repeat center center / 20px 20px;border-radius:4px;}
input[name="squareCheck_default"].squareCheck_default.disabled + label{pointer-events: none;}
input[name="squareCheck_default"].squareCheck_default.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_default"].squareCheck_default.disabled + label span {color:var(--mono_g5)}
.squareCheck_default_text {padding-left:34px;margin-top:6px;color:var(--mono_g7)}
.disabled .squareCheck_default_text {color:var(--mono_g3)}




/*ck_round_secSmall*/
input[name="ck_roundSmall"] + label{display:inline-block;position:relative;padding-left:26px;}
input[name="ck_roundSmall"] + label:before{content:'';display:inline-block;width:18px;height:18px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:2px;left:0;box-sizing: border-box}
input[name="ck_roundSmall"]:checked + label:before{content:'';border:6px solid var(--pri_5)}
input[name="ck_roundSmall"].ck_roundSmall_disabled + label{pointer-events: none;}
input[name="ck_roundSmall"].ck_roundSmall_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_roundSmall"].ck_roundSmall_disabled + label span{color:var(--mono_g5)}
.ck_roundSmall_text{padding-left:26px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_roundSmall_text {color:var(--mono_g3)}

/*ck_roundMedium*/
input[name="ck_roundMedium"] + label{display:inline-block;position:relative;padding-left:26px;}
input[name="ck_roundMedium"] + label:before{content:'';display:inline-block;width:18px;height:18px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:1px;left:0;box-sizing: border-box}
input[name="ck_roundMedium"]:checked + label:before{content:'';border:6px solid var(--pri_5)}
input[name="ck_roundMedium"].ck_roundMedium_disabled + label{pointer-events: none;}
input[name="ck_roundMedium"].ck_roundMedium_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_roundMedium"].ck_roundMedium_disabled + label span{color:var(--mono_g5)}
.ck_roundMedium_text{padding-left:26px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_roundMedium_text {color:var(--mono_g3)}

/*ck_roundDefault*/
input[name="ck_roundDefault"] + label{display:inline-block;position:relative;padding-left:34px;}
input[name="ck_roundDefault"] + label:before{content:'';display:inline-block;width:24px;height:24px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:-2px;left:0;box-sizing: border-box}
input[name="ck_roundDefault"]:checked + label:before{content:'';border:8px solid var(--pri_5)}
input[name="ck_roundDefault"].ck_roundDefault_disabled + label{pointer-events: none;}
input[name="ck_roundDefault"].ck_roundDefault_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_roundDefault"].ck_roundDefault_disabled + label span{color:var(--mono_g5)}
.ck_roundDefault_text{padding-left:34px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_roundDefault_text {color:var(--mono_g3)}



/*squareCheck_sec_small*/
input[name="squareCheck_sec_small"] + label{display: inline-block;position: relative;padding-left:22px}
input[name="squareCheck_sec_small"] + label:before {content:'';width: 14px;height: 14px;border-radius:4px;background:var(--mono_g2);position:absolute;top:4px;left:0;}
input[name="squareCheck_sec_small"]:checked + label::after{content:'';position: absolute;left:0;top:4px;width:14px;height:14px;background:var(--mono_g9) url('/images/icons/check-wh.svg') no-repeat center center / 12px 12px;border-radius:4px;}
input[name="squareCheck_sec_small"].inde:checked + label::after{content:'';position: absolute;left:0;top:4px;width:14px;height:14px;background:var(--mono_g9) url('/images/icons/remove-wh.svg') no-repeat center center / 12px 12px;border-radius:4px;}
input[name="squareCheck_sec_small"].squareCheck_sec_small.disabled + label{pointer-events: none;}
input[name="squareCheck_sec_small"].squareCheck_sec_small.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_sec_small"].squareCheck_sec_small.disabled + label span {color:var(--mono_g5)}
.squareCheck_sec_small_text {padding-left:22px;margin-top:4px;color:var(--mono_g7)}
.disabled .squareCheck_sec_small_text {color:var(--mono_g3)}


/*squareCheck_sec_medium*/
input[name="squareCheck_sec_medium"] + label{display: inline-block;position: relative;padding-left:26px}
input[name="squareCheck_sec_medium"] + label:before {content:'';width: 18px;height: 18px;border-radius:4px;background:var(--mono_g2);position:absolute;top:1px;left:0;}
input[name="squareCheck_sec_medium"]:checked + label::after{content:'';position: absolute;left:0;top:1px;width:18px;height:18px;background:var(--mono_g9) url('/images/icons/check-wh.svg') no-repeat center center / 15px 15px;border-radius:4px;}
input[name="squareCheck_sec_medium"].inde:checked + label::after{content:'';position: absolute;left:0;top:1px;width:18px;height:18px;background:var(--mono_g9) url('/images/icons/remove-wh.svg') no-repeat center center / 15px 15px;border-radius:4px;}
input[name="squareCheck_sec_medium"].squareCheck_sec_medium.disabled + label{pointer-events: none;}
input[name="squareCheck_sec_medium"].squareCheck_sec_medium.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_sec_medium"].squareCheck_sec_medium.disabled + label span {color:var(--mono_g5)}
.squareCheck_sec_medium_text {padding-left:26px;margin-top:6px;color:var(--mono_g7)}
.disabled .squareCheck_sec_medium_text {color:var(--mono_g3)}

/*squareCheck_sec_default*/
input[name="squareCheck_sec_default"] + label{display: inline-block;position: relative;padding-left:34px}
input[name="squareCheck_sec_default"] + label:before {content:'';width: 24px;height: 24px;border-radius:4px;background:var(--mono_g2);position:absolute;top:-2px;left:0;}
input[name="squareCheck_sec_default"]:checked + label::after{content:'';position: absolute;left:0;top:-2px;width:24px;height:24px;background:var(--mono_g9) url('/images/icons/check-wh.svg') no-repeat center center / 20px 20px;border-radius:4px;}
input[name="squareCheck_sec_default"].inde:checked + label::after{content:'';position: absolute;left:0;top:-2px;width:24px;height:24px;background:var(--mono_g9) url('/images/icons/remove-wh.svg') no-repeat center center / 20px 20px;border-radius:4px;}
input[name="squareCheck_sec_default"].squareCheck_sec_default.disabled + label{pointer-events: none;}
input[name="squareCheck_sec_default"].squareCheck_sec_default.disabled + label:before{content:'';background:var(--mono_g1)}
input[name="squareCheck_sec_default"].squareCheck_sec_default.disabled + label span {color:var(--mono_g5)}
.squareCheck_sec_default_text {padding-left:34px;margin-top:6px;color:var(--mono_g7)}
.disabled .squareCheck_sec_default_text {color:var(--mono_g3)}




/*ck_round_secSmall*/
input[name="ck_round_secSmall"] + label{display:inline-block;position:relative;padding-left:26px;}
input[name="ck_round_secSmall"] + label:before{content:'';display:inline-block;width:18px;height:18px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:2px;left:0;box-sizing: border-box}
input[name="ck_round_secSmall"]:checked + label:before{content:'';border:6px solid var(--mono_g9)}
input[name="ck_round_secSmall"].ck_round_secSmall_disabled + label{pointer-events: none;}
input[name="ck_round_secSmall"].ck_round_secSmall_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_round_secSmall"].ck_round_secSmall_disabled + label span{color:var(--mono_g5)}
.ck_round_secSmall_text{padding-left:26px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_round_secSmall_text {color:var(--mono_g3)}

/*ck_round_secMedium*/
input[name="ck_round_secMedium"] + label{display:inline-block;position:relative;padding-left:26px;}
input[name="ck_round_secMedium"] + label:before{content:'';display:inline-block;width:18px;height:18px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:1px;left:0;box-sizing: border-box}
input[name="ck_round_secMedium"]:checked + label:before{content:'';border:6px solid var(--mono_g9)}
input[name="ck_round_secMedium"].ck_round_secMedium_disabled + label{pointer-events: none;}
input[name="ck_round_secMedium"].ck_round_secMedium_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_round_secMedium"].ck_round_secMedium_disabled + label span{color:var(--mono_g5)}
.ck_round_secMedium_text{padding-left:26px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_round_secMedium_text {color:var(--mono_g3)}

/*ck_round_secDefault*/
input[name="ck_round_secDefault"] + label{display:inline-block;position:relative;padding-left:34px;}
input[name="ck_round_secDefault"] + label:before{content:'';display:inline-block;width:24px;height:24px;border-radius:50%;border:2px solid var(--mono_g3);position:absolute;top:-2px;left:0;box-sizing: border-box}
input[name="ck_round_secDefault"]:checked + label:before{content:'';border:8px solid var(--mono_g9)}
input[name="ck_round_secDefault"].ck_round_secDefault_disabled + label{pointer-events: none;}
input[name="ck_round_secDefault"].ck_round_secDefault_disabled + label:before{content:'';border:2px solid var(--mono_g1)}
input[name="ck_round_secDefault"].ck_round_secDefault_disabled + label span{color:var(--mono_g5)}
.ck_round_secDefault_text{padding-left:34px;margin-top:4px;color:var(--mono_g7)}
.disabled .ck_round_secDefault_text {color:var(--mono_g3)}

/*select_default*/
.select_default {position:relative;height:auto;width:335px;cursor:pointer}
.select_default:hover .select_default_box {border:1px solid var(--pri_2)}
.select_default:hover .select_default_box p {color:var(--mono_b)}
.select_default_box {display:inline-block;padding:14px 16px;border-radius:4px;border:1px solid var(--mono_g1);width:100%;position:relative;}
.select_default_box:after{content:'';display:inline-block;width:18px;height:18px;background:url('/images/icons/select_arrow.svg') no-repeat center center / 18px 18px;position:absolute;top:50%;right:14px;transform:translateY(-50%);transition:.3s}
.select_default_box p {color:var(--mono_g7)}
.select_default_optionBox{display:none;z-index:1;position:absolute;top:54px;left:0;width:100%;padding:4px 4px 4px 4px;overflow-y:scroll;max-height:270px;background:var(--mono_wh);border:1px solid var(--mono_g1);box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);}
.select_default_optionBox p {color:var(--mono_g7);margin-bottom:4px}
.select_default_optionBox span {color:var(--mono_g7)}
.select_default_optionBox::-webkit-scrollbar{display:none}
.scrollY{overflow-y:scroll;max-height:260px}
.scrollY::-webkit-scrollbar{background:var(--mono_wh);width:4px;}
.scrollY::-webkit-scrollbar-thumb{width:4px;background:var(--mono_g2);border-radius:8px}
.select_default_option {padding:12px 20px;margin-right:4px}
.select_default_option:hover {background:var(--pri_bg)}
.select_default_option:hover p {color:var(--pri_5)}
.select_default_option:hover span {font-weight:600}

.select_default.active .select_default_optionBox{display:inline-block;}
.select_default.active .select_default_box:after{transform:translateY(-50%) rotate(180deg);transition:.3s}
.select_default.active .select_default_box {border:1px solid var(--pri_5)}
.select_default.active .select_default_box p {color:var(--mono_b)}

.select_default.disabled {background:var(--mono_bg);pointer-events: none;}
.select_default.disabled .select_default_box{border:1px solid transparent;opacity: .5}
.select_default.error .select_default_box{border:1px solid var(--error_1)}
.select_default.error .select_default_box p{color:var(--mono_g9)}


/*select_field_small*/
.select_field_small {position:relative;height:auto;width:200px;cursor:pointer}
.select_field_small:hover .select_field_small_box {border:1px solid var(--pri_2)}
.select_field_small:hover .select_field_small_box p {color:var(--mono_b)}
.select_field_small_box {display:inline-block;padding:10px 12px;border-radius:4px;border:1px solid var(--mono_g1);width:100%;position:relative;}
.select_field_small_box:after{content:'';display:inline-block;width:18px;height:18px;background:url('/images/icons/select_arrow.svg') no-repeat center center / 18px 18px;position:absolute;top:50%;right:10px;transform:translateY(-50%);transition:.3s}
.select_field_small_box p {color:var(--mono_g7)}
.select_field_small_optionBox{display:none;z-index:1;position:absolute;top:46px;left:0;width:100%;padding:4px 4px 4px 4px;overflow-y:scroll;max-height:270px;background:var(--mono_wh);border:1px solid var(--mono_g1);box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);}
.select_field_small_optionBox p {color:var(--mono_g7);}
.select_field_small_optionBox span {color:var(--mono_g7)}
.select_field_small_optionBox::-webkit-scrollbar{display:none}
.scrollY{overflow-y:scroll;max-height:260px}
.scrollY::-webkit-scrollbar{background:var(--mono_wh);width:4px;}
.scrollY::-webkit-scrollbar-thumb{width:4px;background:var(--mono_g2);border-radius:8px}
.select_field_small_option {padding:12px 10px;margin-right:4px}
.select_field_small_option:hover {background:var(--pri_bg)}
.select_field_small_option:hover p {color:var(--pri_5)}
.select_field_small_option:hover span {font-weight:600}

.select_field_small.active .select_field_small_optionBox{display:inline-block;}
.select_field_small.active .select_field_small_box:after{transform:translateY(-50%) rotate(180deg);transition:.3s}
.select_field_small.active .select_field_small_box {border:1px solid var(--pri_5)}
.select_field_small.active .select_field_small_box p {color:var(--mono_b)}

.select_field_small.disabled {background:var(--mono_bg);pointer-events: none;}
.select_field_small.disabled .select_field_small_box{border:1px solid transparent;opacity: .5}
.select_field_small.error .select_field_small_box{border:1px solid var(--error_1)}
.select_field_small.error .select_field_small_box p{color:var(--mono_g9)}


/*select_field_ex_small*/
.select_field_ex_small {position:relative;height:auto;width:200px;cursor:pointer}
.select_field_ex_small:hover .select_field_ex_small_box {border:1px solid var(--pri_2)}
.select_field_ex_small:hover .select_field_ex_small_box p {color:var(--mono_b)}
.select_field_ex_small_box {display:inline-block;padding:10px 12px;border-radius:4px;border:1px solid var(--mono_g1);width:100%;position:relative;}
.select_field_ex_small_box:after{content:'';display:inline-block;width:18px;height:18px;background:url('/images/icons/select_arrow.svg') no-repeat center center / 18px 18px;position:absolute;top:50%;right:10px;transform:translateY(-50%);transition:.3s}
.select_field_ex_small_box p {color:var(--mono_g7)}
.select_field_ex_small_optionBox{display:none;z-index:1;position:absolute;top:42px;left:0;width:100%;padding:4px 4px 4px 4px;overflow-y:scroll;max-height:270px;background:var(--mono_wh);border:1px solid var(--mono_g1);box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);}
.select_field_ex_small_optionBox p {color:var(--mono_g7);}
.select_field_ex_small_optionBox span {color:var(--mono_g7)}
.select_field_ex_small_optionBox::-webkit-scrollbar{display:none}
.scrollY{overflow-y:scroll;max-height:260px}
.scrollY::-webkit-scrollbar{background:var(--mono_wh);width:4px;}
.scrollY::-webkit-scrollbar-thumb{width:4px;background:var(--mono_g2);border-radius:8px}
.select_field_ex_small_option {padding:12px 10px;margin-right:4px}
.select_field_ex_small_option:hover {background:var(--pri_bg)}
.select_field_ex_small_option:hover p {color:var(--pri_5)}
.select_field_ex_small_option:hover span {font-weight:600}

.select_field_ex_small.active .select_field_ex_small_optionBox{display:inline-block;}
.select_field_ex_small.active .select_field_ex_small_box:after{transform:translateY(-50%) rotate(180deg);transition:.3s}
.select_field_ex_small.active .select_field_ex_small_box {border:1px solid var(--pri_5)}
.select_field_ex_small.active .select_field_ex_small_box p {color:var(--mono_b)}

.select_field_ex_small.disabled {background:var(--mono_bg);pointer-events: none;}
.select_field_ex_small.disabled .select_field_ex_small_box{border:1px solid transparent;opacity: .5}
.select_field_ex_small.error .select_field_ex_small_box{border:1px solid var(--error_1)}
.select_field_ex_small.error .select_field_ex_small_box p{color:var(--mono_g9)}



/*INPUT_TEXT FIELD*/
.textField_input {width:100%;height:50px;padding:0 16px;border:1px solid var(--mono_g3);border-radius:4px !important;color:var(--mono_g9);}
.textField_input::placeholder{color:var(--mono_g5)}
.textField_input:hover {border:1px solid var(--pri_2)}
.textField_input.active {border:1px solid var(--pri_5);color:var(--mono_g9)}

.textField_input.error {border:1px solid var(--error_2)}
.input_del{position:relative;}
.input_del .textField_input{padding:0 32px 0 16px;}
.input_del button.input_del_btn{width:18px;height:18px;position:absolute;top:50%;right:8px;transform:translateY(-50%)}
.input_del button.input_del_btn:after{content:'';display:inline-block;width:18px;height:18px;background:url('/images/icons/add_circle_bk.svg') no-repeat center center / 18px 18px;}

.textField_input.disabled{background:var(--mono_bg);pointer-events: none;opacity: .4;border:1px solid var(--mono_bg)}

.input_del.disabled{opacity: .4;pointer-events: none;}
.input_del.disabled .textField_input.disabled{background:var(--mono_bg);opacity: 1;border:1px solid var(--mono_bg)}

.textLength {position:relative;}
.textLength .textField_input {padding:0 44px 0 16px}
.textLength p{position:absolute;top:50%;right:8px;display:inline-block;transform:translateY(-50%);color:var(--mono_g7)}
.textLength.disabled{opacity: .4;pointer-events: none;}
.textLength.disabled .textField_input.disabled{background:var(--mono_bg);opacity: 1;border:1px solid var(--mono_bg)}
.textLength.disabled p {font-size:11px}

.showPw {position:relative;}
.showPw .textField_input {padding:0 32px 0 16px;}
.showPw button{width:18px;height:18px;position:absolute;top:50%;right:8px;transform:translateY(-50%)}
.showPw button:after{content:'';display:inline-block;width:18px;height:18px;background:url('/images/icons/remove_red_eye-gr_outlined.svg') no-repeat center center / 18px 18px;}
.showPw.active button:after{content:'';background:url('/images/icons/remove-gr_outlined.svg') no-repeat center center / 18px 18px;}
.showPw.disabled{opacity: .4;pointer-events: none;}
.showPw.disabled .textField_input.disabled{background:var(--mono_bg);opacity: 1;border:1px solid var(--mono_bg)}


/*TextAreaField*/
.textAreaBox {border:1px solid var(--mono_g3);border-radius:4px;height:auto;position:relative;}
.textAreaBox textarea {border:0;width:100%;border-radius:4px;padding:16px;margin-bottom:24px;min-height:100px}
.textAreaBox textarea::-webkit-scrollbar{}
.textAreaBox p {position:absolute;bottom:8px;right:16px;}
.textAreaBox:hover {border:1px solid var(--pri_2)}
.textAreaBox.active {border:1px solid var(--pri_5)}
.textAreaBox.disabled{background:var(--mono_bg);border:0;pointer-events: none;opacity: .4}
.textAreaBox.disabled textarea {background:var(--mono_bg)}
.textAreaBox.error {border:1px solid var(--error_1)}
