/*레이아웃 구분하기 위해서 배경 넣음*/


/*pc*/
.pc_side_l {position:relative;}
.pc_side_l .header{height:64px;width:calc(100% - 270px);position:fixed;top:0;right:0;background:var(--pri_1)}
.pc_side_l .side_tab {width:270px;position:fixed;top:0;left:0;height:100vh;background:var(--pri_bg);}
.pc_side_l .content_wrap {height:calc(100vh - 64px);width:calc(100% - 270px);position:fixed;top:64px;right:0;background:var(--pri_2);overflow-y:scroll;}
.pc_side_l .content_wrap::-webkit-scrollbar{display: none;}
.pc_side_l .contentInner {width:1280px;margin:0 auto;height:100%;padding:40px 30px 0 30px;background:var(--mono_bg)}
.pc_side_l .title {margin-bottom:20px;}
.pc_side_l section {margin-bottom:80px;}
.pc_side_l section .content{margin-bottom:40px;}
.pc_side_l section:last-child {margin-bottom:120px;}

/*login*/
.login_ui {padding:40px 0;width:100%;height:100vh;background:var(--mono_bg)}
.login_ui .loginInner {width:520px;margin:0 auto;padding:80px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:var(--pri_1);}
.login_ui .loginContent {min-height:560px;}
.login_ui.loginH_over {position:fixed;top:0;left:0;height:100vh;overflow-y: scroll;}
.login_ui.loginH_over::-webkit-scrollbar{display:none;}
.loginH_over .loginInner {top:auto;left:auto;position:relative;transform:none;padding:60px 80px}
.testBox {height:2000px;background:var(--mono_g1);width:100%}

/*pop_large*/
.pop_large {position:fixed;top:0;left:0;width:100%;height:100vh;}
.pop_large .bk_bg {position:fixed;top:0;left:0;width:100%;height:100vh;z-index:1;background:var(--mono_b);opacity: .4}
.pop_large .popContent {width:920px;height:calc(100vh - 80px);position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2;padding:0 40px;background:var(--mono_wh)}
.pop_large .pop_header {height:56px;width:100%;position:fixed;top:0;left:0;display:flex;justify-content: space-between;align-items: center;padding:0 20px;background:var(--pri_1);}
.pop_large .pop_close {position:relative;width:14px;height:14px;}
.pop_large .pop_close:after {content:'';width:1px;height:14px;position:absolute;top:0;left:0;transform:rotate(45deg);background:var(--mono_b);}
.pop_large .pop_close:before {content:'';width:1px;height:14px;position:absolute;top:0;left:0;transform:rotate(-45deg);background:var(--mono_b);}
.pop_large .pop_cont{width:100%;height:calc(100% - 128px);margin-top:56px;overflow-y:scroll;background:var(--sec_bg)}
.pop_large .pop_cont::-webkit-scrollbar{display:none;}
.pop_large .footer {position:fixed;bottom:0;left:0;width:100%;height:72px;background:var(--pri_2);}
.testBox.mono_g2{background:var(--mono_g2)}


.pop_full {width:100%;height:100vh;position:fixed;top:0;left:0;}
.pop_full .pop_header {height:56px;width:100%;display:flex;justify-content: space-between;align-items: center;padding:0 20px;background:var(--pri_1);}
.pop_full .pop_full_title {height:56px;width:100%;display:flex;justify-content: space-between;align-items: center;padding:0 20px;background:var(--pri_2);}
.pop_full .pop_close {position:relative;width:14px;height:14px;}
.pop_full .pop_close:after {content:'';width:1px;height:14px;position:absolute;top:0;left:0;transform:rotate(45deg);background:var(--mono_b);}
.pop_full .pop_close:before {content:'';width:1px;height:14px;position:absolute;top:0;left:0;transform:rotate(-45deg);background:var(--mono_b);}
.pop_full .pop_cont {padding:20px;display:flex;justify-content:center;}
.pop_full .pop_full_contBox {width:100%;height:calc(100vh - 152px);background:var(--pri_bg)}
.pop_full .pop_full_contBox:first-child{margin-right:24px;}


/* pc 반응형*/
@media screen and (max-width: 1600px) {
    .pc_side_l .contentInner{width:100%}
}

@media screen and (max-width: 1024px) {
    .pop_large .popContent {width:90%}
}

@media screen and (max-width: 780px) {
    .login_ui .loginInner {width:80%}
}

/* login 반응형 */
@media screen and (max-height:800px){
    .loginInner {height:calc(100vh - 80px);min-height:auto;overflow-y:scroll;}
    .loginInner::-webkit-scrollbar{display:none;}
}

