body{font-family: 'Pretendard';}
.wrap {padding-top:20px;}
.contList {width:600px;margin:0 auto;}
.contList ul{display:flex;border:1px solid #ddd;border-radius:5px;}
.contList li {height:40px;font-size:14px;padding:10px;width:calc(100%/3);text-align:center;position:relative;font-family: 'Pretendard';line-height:140%;cursor: pointer;}
.contList li:after {content:'';display:inline-block;width:1px;height:15px;position:absolute;right:0;top:12px;background:#ddd;}
.contList li:last-child:after{display:none;}
.contList li.on:before {content:'';display:inline-block;width:95%;height:30px;background:var(--pri_4);position:absolute;top:5px;left:5px;z-index:-1;border-radius:5px;}
.contList li.on{color:#fff;font-weight:500}
.cont {margin-top:40px;}
section{margin-bottom:150px;width:1200px;margin:0 auto;}
section.on_page {display:block;}
.title {margin-bottom:80px;}
.title p {font-size:80px;font-weight:700;display:inline-block;}
.title span {font-size:22px;font-weight:500;color:#3c3d40;vertical-align: bottom;}

/*메인*/
.index_tab {width:1280px;margin:0 auto;height:auto;overflow:hidden;}
.index_tab li {width:calc(100% / 4 - 10px);padding:60px 0;text-align:center;border:1px solid var(--mono_g1);border-radius:8px;float:left;margin:5px;cursor:pointer;font-size:18px;}
.index_tab li:nth-child(4n+1){clear:both;}
.index_tab li:hover {border:1px solid var(--pri_5);color:var(--pri_5)}
.title_index{font-size:32px;font-weight:700;text-align:center;margin:60px 0}

/*typo*/
.hd_txtBox.innerCont {display:block;margin-bottom:80px}
.hd_txtBox .flex {margin-bottom:20px;width:100% !important;display:flex;}
.hd_txtBox .flex > div {margin-left:auto}
.guide_txt01 {font-size:18px;font-weight:400;color:#3c3d40;margin-bottom:20px;}
.hd_txtBox span {display:inline-block;font-size:12px;width:120px;text-align:center}

/*color*/
.innerCont{display:flex;border:1px solid #ddd;border-radius:4px;padding:40px;margin-bottom:40px;}
.innerCont > div:first-child {width:25%}
.innerCont > div:nth-child(2){width:75%;}
.tit p {font-size:24px;font-weight:600;color:#222;margin-bottom:15px;}
.tit span {font-size:16px;font-weight:400;color:#363636;}
.colorUl div{width:136px;height:72px;border-radius:4px;display:inline-block;}
.colorUl li{float:left;margin-left:25px;margin-bottom:30px;}
.colorUl li p {font-size:12px;font-weight:500;text-align:center;margin-top:10px}
.g_border {border:1px solid #ddd;}
.guide_txt{font-size:13px;color:var(--error_2);clear:both;text-align:right;}

/*shadow*/
.g_bg {background:var(--mono_g2);width:100%;border-radius:4px;padding:60px 100px}
.shadowBox, .blurBox {width:142px;height:142px;border-radius:14px;background:var(--mono_wh)}
.shadowUl{height:auto;overflow:hidden;padding:60px 40px}
.shadowUl li{display:flex;align-items: center;float:left;width:calc(100% / 2);margin-bottom:60px}
.shadowUl li:nth-child(2n+1){clear:both;}
.shadowUl li:nth-child(even){justify-content: right}
.shadowUl li p {width:160px;display:inline-block;}
.shadowUl li:last-child ,.shadowUl li:nth-last-child(2){margin-bottom:0}
.blurBg {position:absolute;top:50px;right:80px}
.blurBox{position:relative;z-index: 1}

/*button*/
.btn_ListBox th{padding:20px 0;border-bottom:1px solid var(--mono_g1)}
.btn_ListBox .flex {align-items: center;margin:20px 0;}
.btn_ListBox .flex li {width:calc(100% / 4)}
.btn_ListBox td{padding:20px 0}